[2020-10-25 09:17] dvmarinoff opened #1 "Speed in ERG mode"
The Fitness Machine Equipment Service (bluetooth spec) calculates the speed of the flywheel and sends this as a speed value.
In SIM mode this is fine, but in ERG mode this makes the speed values meaningless. In ERG mode you are setting a power target, which the trainer needs to meet regardless of gear combination or cadence, which results in power output having no effect on speed.
You can set the

[2020-11-01 11:32] dvmarinoff opened #2 "set time on the x-axis of current workout graph"
Setting time on x-axis just under the current workout graph would give a better overview
of the workout and the remaining time.

options:
1. on the begging of each interval

This has more meaningful information, but could create some clutter on short intervals like 40/20s.

2. calculate it on fixed (10 min) interval

less information, and also less clutter

[2020-11-24 16:11] dvmarinoff opened #3 "automatic reconnect to devices with already granted permission"
The ability to auto connect to the devices used in the previous session would be a nice convenience.

The status of the chrome feature is tracked here:
[chromium](https://bugs.chromium.org/p/chromium/issues/detail?id=577953)

This is a pattern to implement it:
[getDevices](https://docs.google.com/document/d/1RF4D-60cQJWR1LoQeLBxxigrxJwYS8nLOE0qWmBF1eo/edit)

its based on `navigator.bluetooth.getDe

[2020-11-24 17:03] dvmarinoff opened #4 "add device info to settings"
- [x] add code to work with Device Information Service
- [x] device model string
- [x] device manufacturer
- [x] device firmware version

[2020-11-24 17:06] dvmarinoff opened #5 "add persistence for settings"
- [x] weight
- [x] ftp
- [x] imperial/metric system

[2020-11-24 17:08] dvmarinoff opened #6 "add ability to switch between imperial and metric systems"
- [x] speed
- [x] distance
- [x] switch widget in the settings page

[2020-11-24 17:11] dvmarinoff opened #7 "add a way to see how long are interval on the workout graph"
now we have only power, need to figure where to put both and how to fit them on the graph

[2020-11-24 17:18] dvmarinoff opened #8 "persistence for user added workouts"
The app will work with .zwo workout format only.
- [x] research IndexDB,
- [x] research Web Workers
- [x] figure out how to store and work with user added collections of workouts
- [ ] research options for config files, user friendly way to create, edit and import them
- [ ] implement the solution

[2020-11-24 17:19] dvmarinoff opened #9 "add Resistance Mode"
- [x] device level control
- [x] app ui controls

[2020-11-24 17:20] dvmarinoff opened #10 "add Slope Mode"
- [x] device level controls
- [x] app ui controls

[2020-11-25 09:40] dvmarinoff opened #11 "make desktop app with electron"

[2020-11-25 09:48] dvmarinoff opened #12 "add support for ANT+ on the web"
Supporting Ant+ on the web.

- [x] Research WebUSB
- [x] Research Serial API
- [x] figure out how ANT+ works
- [x] make a minimal example with heart rate data
- [x] figure out and design a clean and obvious UI that allows choosing between ANT+ and/or BLE
- [x] add ANT+ heart rate data
- [x] add ANT+ FE-C

[2020-11-30 16:00] dvmarinoff opened #13 "add a first time user setup story and multi-user settings"
Case New User:
Page 1:
User starts at a page which asks for Name, FTP and weight.
If FTP is not known set a temporary one at sufficiently low value in the range of 90-200 depending on weight,
and suggest an FTP test.

Page 2:
Connect devices
- display names of the devices in form of: <Username>s' <Manufacturer> <Model> (Rays' Tacx Flux)

Create a setup. That is a named combination of connected dev

[2020-11-30 16:02] dvmarinoff opened #14 "add a Race Recon mode"
ability to control google maps street view through trainer input and recon a race course.

[2020-12-01 09:32] dvmarinoff opened #15 "add battery level to settings"
- [ ] add code to work with Battery Service
- [ ] read battery level characteristic

NOTE: Web Bluetooth appears to have a bug when trying to recognize Battery Service.
Left a report, maybe I'll need to file a full bug report later. Waiting for response now

[2020-12-01 09:40] dvmarinoff opened #16 "read FTMS supported features"
ability to read in advance what are the supported parts of FTMS on the Fitness Machine Control Point.
- [x] Fitness Machine Control Point (0x2ACC)
- [x] Supported Resistance Level Range (0x2AD6)
- [x] Supported Power Range (0x2AD8)
- [x] Fitness Machine Status (0x2AD9)

[2020-12-01 17:01] dvmarinoff opened #17 "add Session Report"
- [ ] graphs
- [ ] max and avg values
- [ ] other metrics

[2020-12-11 14:31] dvmarinoff opened #19 "add Spin Down Support"
[ ] - spin down UI
[ ] - spin down with FTMS
[ ] - persist status codes from spin down in settings

[2021-01-19 12:18] #4 closed

[2021-01-19 12:19] #9 closed

[2021-01-19 12:19] #10 closed

[2021-01-19 12:19] #16 closed

[2021-01-19 17:19] dvmarinoff opened #20 "add support for Power Meters"
outdoor power meters need to be connected over the Cycling Power Service (CPS)

- [ ] add cps.js implementing the overall functionality for the service
- [ ] add a power-meter.js to manage a device implementing the CPS

[2021-01-19 17:24] dvmarinoff opened #21 "make the app able to work completely offline"

[2021-01-21 10:07] dvmarinoff opened #22 "pressing Arrow Down key does not work"
Keyboard controls Arrow Up key is working, Down key not so much.
It should lower the target value of the current active mode (ERG, Resistance, Slope) by the configured increment value.

[2021-01-21 19:52] dvmarinoff opened #23 "distance in Contollable Settings needs to be formated"
Distance
27213.403999999882
->
Distance
27.21 km

[2021-01-21 19:54] dvmarinoff opened #24 "Resistance updates are messing power graph and/or indoorBikeData readings"
for now it is Disabled as a feature, needs to tracked and fixed.

Setting resistance to a value say 200 results in the power graph showing readings of 200 W.

[2021-01-25 07:46] #22 closed

[2021-01-28 08:32] dvmarinoff opened #25 "add Support for FE-C over BLE"
This custom solution is often found on Tacx trainers and most notably the only present on their top trainer the NEO.
Uses a custom ble service 0xFEC1 to transmit ant messages covering the Fitness Machine profile.

- [x] read the tacx document
- [x] read the Ant+ documentation
- [x] develop a basic working example
- [x] integrate it into the ble controllable connection, maybe as a follow out case w

[2021-01-28 08:46] dvmarinoff commented on #12
### Research WebUSB as possible way to implement.

The native driver is taking over the ant+ usb device, and it requires a manual unbind. Does not appear to be a long term solution.

[2021-01-28 08:54] dvmarinoff commented on #12
### Research Web Serial API

Connects to the ant+ usb device.

**Useful links and tools**
- `chrome://device-log/`
- `chrome://usb-internals/`

- [How usb works](https://www.beyondlogic.org/usbnutshell/usb1.shtml)
- [Get usb ids:](http://www.linux-usb.org/usb.ids)

[code]

[2021-01-28 08:58] dvmarinoff commented on #12
### How to give permission to ANT+ USB stick on Ubuntu:

**Create a rule file:**

[code]

**Check permissions and groups:**

[code]

**Check user membership:**
[code]

**Add user to a group:**
`$ sudo usermod -a -G dialout <username>`

_Logout and Login to take effect._

[2021-01-30 17:18] #23 closed

[2021-01-31 11:28] dvmarinoff opened #26 "add support for Slope targets in workouts"
### Why?

- recovery intervals, because ERG mode can be really tough on the legs
- FTP tests with stable gradient and enough resistance for any gearing.
- tabata style workouts in full slope mode might work much better than ERG mode especially at high power outputs where ERG
 often has trouble reaching the target. Jumping from 0 % to 10% and back. A bit like hitting a fly over in a CX race.

### H

[2021-01-31 13:42] dvmarinoff opened #27 "add support for absolute power targets"
### Why?

- FTP tests with Ramps and the sort

### How?
The power attribute must support absolute power targets like `Power="250"`. If the value is Int and over 10 (1000% of FTP should be well beyond human capability) it should be treated as an absolute power target. The goal is to maintain compatibility with the existing standard.

- `<SteadyState Duration="60" Power="250"/>`

- `<IntervalsT Repe

[2021-02-08 17:36] dvmarinoff commented on #24
It turns out that the flag bits of indoor bike data characteristic are dynamic and will change during the life of the connection.
In this case:
- application writes resistance target
- the flag bit for resistance target becomes active
- now power is not at index n (6) but at index n + 2 (8)
- which results in the app reading resistance target level instead of power

[2021-02-11 09:40] dvmarinoff opened #28 "real time power graph has delay in ouput on Edge"
- When the graph is filled the new updates take a couple of minutes to show up.

- That is when the app is installed for desktop with Edge.

- Probably the screen size calculations are incorrect.

[2021-02-11 09:41] #25 closed

[2021-02-11 09:42] #24 closed

[2021-02-13 16:32] dvmarinoff opened #29 "add Cycling Dynamics support"
- [] research how it works
- [] live data display
- [] recording

[2021-02-16 12:32] dvmarinoff opened #30 "workout import is broken"
[code]

[2021-02-23 19:07] dvmarinoff commented on #30
fixed in [b49309b](https://github.com/dvmarinoff/Flux/commit/d585ab65398f4a61a96a1a82b51fc85e8e9bc2a4)

[2021-02-23 19:07] #30 closed

[2021-02-24 19:33] dvmarinoff commented on #28
going to full screen has the reverse effect, the graph cut out is one side-bar width short.

[2021-02-26 09:48] dvmarinoff opened #31 "add workout generator"
It has to make a suggestion for a workout based on user defined constraints like time, intensity, energy system. A current physical condition and recent workout history can be used to narrow down and simplify the process for the user.
Heart rate data (like HRV) can be used to dial in intensity and energy system suggestions.
L-system or GA can be used for the generation.

[2021-03-12 09:18] dvmarinoff opened #32 "slope mode resistance is getting 'soft' on sprints (BLE - FTMS)"
110 rpm, 50/13 gear, and 7 % grade tops at about 600-700 watts, with a feeling of the resistance lowering down at the unit the harder you try to go.
- [x] try to reproduce it in resistance mode (BLE),
- [x] check if ERG mode can hold  around its' advertised maximum (BLE),
- [x] test with ANT+ FEC for resistance mode and simulation mode

[2021-03-12 09:24] dvmarinoff opened #33 "Rider weight value in UI goes to default on page refresh"
changing the weight value updates the UI and is correctly stored in Local Storage, but page refresh defaults the UI widget to the default value of 75 instead of the correct one in Local Storage.

[2021-03-19 16:44] #33 closed

[2021-03-19 16:45] #27 closed

[2021-03-19 16:45] #26 closed

[2021-03-19 16:46] #6 closed

[2021-03-19 16:47] #5 closed

[2021-03-19 16:47] #7 closed

[2021-04-02 11:06] muCruiser opened #34 "Integrate 4iiii fliiiight trainer with missing 0x180A Device Information"
Thanks for the great app for using smart trainers. Following topic with my trainer [4iiii fliiiight](https://www.dcrainmaker.com/2019/12/4iiii-fliiiight-smart-trainer-in-depth-review.html)

The trainer is not reporting the uuid:

[code]

but instead reporting generic access:

![4iiii](https://user-images.githubusercontent.com/80818112/113410175-11ae5980-93b3-11eb-9bef-69edf748587c.jpg)

unfortunat

[2021-04-02 11:29] muCruiser opened #35 "Add workout video view"
On youtube there are workout videos for training, so we could add an option to play a youtube video inside the app.
For example exchange the workout graph with something like:

[code]

Perhaps adding big buttons to change watt/resistance/slope

[2021-04-02 12:25] dvmarinoff commented on #34
Hey, thanks for the help, I'll investigate this issue and then I'll apply a solution.

[2021-04-03 12:29] dvmarinoff commented on #35
I've been thinking about this use case, but I am kinda unwilling to put youtube or anything in particular inside the app itself,
mostly because different people would like to use different services like Youtube, Netflix, GCN+, or maybe run Zwift.

I see two use cases differentiated by device type:

**1. Laptops, Desktops and Tablets**

In those systems just using windows of different sizes is enou

[2021-04-03 13:13] muCruiser commented on #35
I agree to your options and while reading i realized one more for the phone approach:

**2.3 Split screen mode**
Open video in dedicated app and use split screen mode to open flux. Both share the screen. Video Player controls are native out of the video app.

[2021-04-04 12:15] muCruiser commented on #34
Thanks for the quick fix. It works and Flux can control my trainer now (with name unknown). You can add 4iiii fliiiight to your tested Trainers.

[2021-04-05 10:06] #35 closed

[2021-04-15 19:13] splanes opened #41 "Support for maps"
Hi, First of all, this is **absolutely jaw dropping**... 👏 👏 👏 👏

Have you thought of adding maps support, i.e. these use cases?
- Draw a route in a map
- Choose start / destination points
- Mark slopes in the route using colors green to red (or violet)
- Mark an estimated point were the user is pedaling at.
- Calculate an ETA

Some of these features are currently supported in the official tacx tr

[2021-04-16 15:20] dvmarinoff commented on #41
Hi, thanks!

I have thought about something similar. My idea was to leverage Google Street View for pre-riding a race course (Race Recon mode). Getting familiar with climbs, marking where attacks could happen, looking at the finish line, etc. Having this mapping between visual memory and critical points like where the gradient is the steepest on a given climb, or where is the midpoint of this clim

[2021-04-21 09:24] dvmarinoff opened #42 "find suitable font for numbers and headings"
I really like the numbers in Oswald but it is not playing well with updates (not monospaced).

<img src="https://user-images.githubusercontent.com/7523832/115530607-9991d000-a29c-11eb-8555-437a80b2fb73.jpg" width="414">

[2021-05-03 07:50] dvmarinoff opened #43 "Pick a better name"
Flux is the name of my trainer and was just a temp choice so I can start coding the app. But it is not a good name because it conflicts with way too many other projects that have the same name including popular frameworks for React and Julia.
The new name needs to be unique and googleable. Zwift is example for good name, Trainer Road not so much (hard to pronounce or make you remember it). I've lo

[2021-05-09 04:49] jonathancolledge commented on #21
This looks great. Can it work at all offline, if so, do you think you could give me a few pointers please? I loaded index.html and the settings, etc are greyed out. Thanks.

[2021-05-11 07:30] dvmarinoff opened #44 "add support for outdoor use"
- [ ] routing with maps
- [ ] outdoor velodrome and circuit laps
- [ ] custom segment timing
- [ ] multi-sport recording (cycle + run)

[2021-05-11 08:07] dvmarinoff commented on #32
It does not appear with ANT+ FE-C. So maybe some FTMS params are missing, or it's the firmware on my unit.

[2021-05-12 07:26] #34 closed

[2021-05-20 18:32] dvmarinoff opened #45 "handle properly pause and resume events in the .FIT file"
add pause and resume event messages to the .FIT file for when the recording is paused.

[2021-05-28 11:09] dvmarinoff commented on #12
WebSerial is not available on Mobile devices, but WebUSB is and it appears to be usable.

Moreover it is possible to connect the device to a USB-C  monitor, switch to desktop mode (marketed as DeX on Samsung) and gain access to the USB ports on the monitor. This way ANT+ usb stick can be used from a web page on a mobile device.

A simpler way is to use USB-A to to USB-C adapter and plug it in the

[2021-06-01 18:31] dvmarinoff commented on #12
On Windows 10 WebUSB and WebSerial are available, but WebSerial does not recognize the device it probably needs to be supported over WebUSB.

On Ubuntu when using WebUSB device.open() throws the error: 'Uncaught DOMException: Access denied.'
It is the earliest point at which it can be determined that the interface is already claimed and WebSerial has to be used.

[2021-06-04 14:28] #21 closed

[2021-06-04 14:30] jonathancolledge commented on #21
Wow, I missed your first comment. Thanks for this. I'll check it out.

[2021-06-04 15:50] dvmarinoff commented on #21
Hi, note that this feature is only available on the [Beta Archive](https://dvmarinoff.github.io/Flux/) version of the app that is version number 0.0.5.
The latest version which has much better support for ANT+ on Linux Desktop is at [Latest](https://flux-three.vercel.app/).
All feedback is welcome!

[2021-06-08 17:05] dvmarinoff commented on #20
Favero Assioma and PowerTap dual side pedals transmit as 2 servers, the spec is a bit vague on how this has to work, support from other Screen App projects is also missing and without access to actual hardware I cannot move forward on this issue.

NOTE: Garmin Vector and Rally dual side pedals transmit as 1 server.

[2021-07-05 08:06] dvmarinoff opened #46 "fit file times are broken on windows systems with mismatched locale"
not familiar with windows, but despite system clock showing correct time the system thinks it is in the UK 2 (hours behind), which results in strange elapsed time calculations in the fit file.

Should dig a bit deeper into all time summary fields in the session message and see which one is responsible.

[2021-07-13 11:08] dvmarinoff opened #47 "retry control messages over ANT+"
Some control messages over ANT+ are returning fail result and they need to be send over again until success result or timeout.

![log](https://user-images.githubusercontent.com/7523832/125441784-bf7268ef-ec9c-45d6-93d0-4bebfd018e2f.jpg)

[2021-07-14 09:11] dvmarinoff opened #48 "switching controllable between Flux and Zwift"
The idea of switching between Zwift SIM mode, Flux ERG and Slope mode.

1. A separate app acts as a connection bridge to the trainer.
2. Find a way to silence the commands from one source

[2021-07-15 17:59] dvmarinoff opened #49 "Integrate the new implementation of fit protocol from the FitFile project"
It's more general and has test coverage + it's written in functional style.

[2021-07-17 08:25] mjunkmyjunk commented on #43
How about webTrainer?

[2021-07-17 08:28] mjunkmyjunk commented on #41
I too struggle with importing GPX files of real outdoor rides into gpsbabel and then trying to get a Good Slope gradient but they all end up as "bad". and when I smooth them out using Kalman Filter, it becomes better but like you said, max gradient becomes lower and false flats become real flats etc.

[2021-07-17 08:30] mjunkmyjunk commented on #20
I think now Favero transmits as a unified stream of L and R.

[2021-07-17 08:34] mjunkmyjunk commented on #1
did you take a look a this mathematical model from this site? You use Power to convert it down to Speed utilising the variables of slope / Air resistance and gravity.
https://www.gribble.org/cycling/power_v_speed.html

You can also see the code from
https://github.com/WouterJD/FortiusANT/blob/ec1988dde777a7c484b8d3580748af6c333eb02b/pythoncode/usbTrainer.py#L811

or this https://physics.stackexcha

[2021-07-18 09:28] dvmarinoff commented on #20
Great news! I hope all vendors go that way, it's just more natural for users and much easier for devs. By any chance do you have access to Assioma Duo to confirm that?

[2021-07-18 09:32] dvmarinoff commented on #43
Nice, keep them coming!
But I do prefer going with a made up word like Zwift or something non english, so it naturally has it's own identity.

[2021-07-18 10:00] dvmarinoff commented on #1
Thanks, I new the gribble calc, but not the other 2.

This thread on [zwift forums](https://forums.zwift.com/t/how-should-zwift-calculate-rider-speed/547828/2)  has some useful links and this article on [slowtwitch](https://www.slowtwitch.com/Tech/The_Physics_of_Moving_a_Bike_163.html) is a nice explainer.

Overall I have decided to go in the direction of gamifying workouts. I have done some exper

[2021-07-18 15:06] mjunkmyjunk commented on #1
I briefly scanned thru the 2 links you provided, haven't read it in-depth. There's also discussion about this by some of the Golden Cheetah developers (https://github.com/WouterJD/FortiusANT/issues/175)

In terms of device support, Would you know how to support the cycleops Hammer H1? (This is the 1st gen which uses the wahoo extension to cycling power utilising this UUID A026E005-0A7D-4AB3-97FA-F

[2021-07-18 15:11] mjunkmyjunk commented on #20
Yes I have the assioma and I can connect to it using the web interface of your demo. Its listed as AssiomaxxxL

there's an option in the app.

![IMG_BA12A9DC0D2A-1](https://user-images.githubusercontent.com/56195569/126072346-3231c9d2-0d71-4684-907d-088d6bba77a1.jpeg)

[2021-07-18 15:14] mjunkmyjunk commented on #43
poursuivant

per the TdF of Tete De La Course and poursuivant

[2021-07-18 15:20] mjunkmyjunk commented on #20
In terms of device support, Would you know how to support the cycleops Hammer H1? (This is the 1st gen which uses the wahoo extension to cycling power utilising this UUID A026E005-0A7D-4AB3-97FA-F1500F9FEB8B.

I tried using some of the logic/code from here (https://github.com/codeinversion/sensors-swift-trainers/blob/master/Sources/SwiftySensorsTrainers/WahooTrainerCharacteristic.swift) to connect

[2021-07-18 15:39] dvmarinoff commented on #20
Section 3.4 of the Cycling Power Service describes in more detail the capabilities of the Cycling Power Control Point. But it is basically used to configure a bunch of values like crank length, chain length, etc. And more important to initiate the offset compensation procedure a.k.a calibrating the power meter. I'll need that piece of code when get to the implementation of this functionality.

[2021-07-18 15:42] dvmarinoff commented on #20
As for wahoo's extension of CPS, do you have a link to some documentation (like the ANT over BLE pdf of Tacx) or it needs to be reverse engineered?

[2021-07-18 16:05] mjunkmyjunk commented on #20
okay.. I just had a quick lesson In dataview()
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DataView/DataView

and now I understand that you're basically just sending 0x00.

Question: For CPS Ct. Point 0x00 is marked as RFU (reserved future use). Are you just putting this there as a placeholder (as FTMS uses 0x00 for request control?) or something else? I can't

[2021-07-19 08:30] dvmarinoff opened #50 "add Support for Wahoo trainer control"
Wahoo uses Cycling Power Service as a trainer control. They are adding a custom characteristic: `A026E005-0A7D-4AB3-97FA-F1500F9FEB8B`. It supports setting of User weight, Simulation parameters, ERG target power, Load level and intensity. Doesn't have public documentation. The github projects SensorsSwiftTrainers and GoldenCheetah are the main sources.

### list of known devices:
- Wahoo Kickr Ori

[2021-07-19 08:37] dvmarinoff commented on #20
I am moving this into a separate [issue](https://github.com/dvmarinoff/Flux/issues/50).
I'll do some research and add implementation, but since Wahoo and CycloOps are a rare sight in my part of the world I'll need help with hardware testing.

[2021-07-19 09:00] mjunkmyjunk commented on #20
Cool! Tho I can't help as I don't own such a trainer.

[2021-07-21 10:30] mjunkmyjunk commented on #43
I found a possible solution for you.

[https://static.boredpanda.com/blog/wp-content/uploads/2020/10/technology-comics-system32-1-5f7c08e8c6778__880.jpg
](url)

[2021-08-24 14:22] dvmarinoff opened #53 "WebBLE in Chrome on M1 Mac can sometimes drop the connection"
m1 mac chrome is the first place I see this error, it needs to be handled properly so it is clear that the connection is dropped.
`characteristic.writeValue: DOMException: GATT Service no longer exists.`

The indicator kept being green, despite the service drop.  Tacx Flux S and 2 have a tendency of sometimes dropping the connection when you stop to pedal, but it goes to red, and this test was run

[2021-09-15 16:01] #49 closed

[2021-09-21 13:59] dvmarinoff opened #54 "add display for avg power"
- [ ] avg power for current lap (maybe in the current power graph or over the current interval)
- [ ] avg power for whole workout (maybe under the current power graph)
- [ ] avg power of competed laps (maybe in the interval graph)

[2021-09-24 08:22] dvmarinoff opened #55 "a better timer needed"
timer is just a `setInterval(fn, 1000)` loop, which will drift with time. A self-adjusting timer will be a better solution.

[2021-10-24 10:31] shoffmeister opened #56 "Enable larger fonts (13" laptop)"
Enabling larger fonts for a 13" laptop screen (HiDpi) would be very nice for improved readability (at a distance).

As it is, right now (Windows 10, Microsoft Edge), with the browser in full-screen mode (F11), the text information is somewhat hard to read, IMHO.

Right now, the screen is also not overly full, either, lots blank space where information could be present.

[2021-10-31 06:41] dvmarinoff commented on #56
noticed that I did broke the workout graph while adding some code to scale it for different screen sizes, it was resulting in 0% height when you change the workout. So applied a fix and extended it to dynamically adjust when the user is manually resizing the window.

This time the changes are on a separate domain for the branch: [responsive branch](https://flux-responsive.vercel.app/)

[2021-11-05 15:27] dvmarinoff commented on #56
Improved the styles to use a modern CSS grid + relative units system (px -> rem -> em). This allows for a fluid layout that fills the whole page assuring that the important controls are not hidden below viewport height.

Also support for Landscape phones and Dock Mode is now possible.

Landscape phones (740px by 360px):

![localhost_1234_(Galaxy S9)](https://user-images.githubusercontent.com/75238

[2021-11-11 16:02] dvmarinoff commented on #32
It seems to be related to heat accumulation in the unit. Happens after climbs in simulation mode only, ERG is capable of keeping the resistance.

[2021-11-11 16:05] dvmarinoff commented on #54
Ended up adding a field tile in the main data display group. It shows when there is enough space in the viewport (tablets, laptops, desktops, wide dock mode).

[2021-11-11 16:09] dvmarinoff opened #57 "pausing just the workout"
Add ability for the User to pause and resume just the workout in progress, but still continue the recording of data from devices and the overall timer running.

[2021-11-13 15:33] dvmarinoff commented on #56
We have now much better support for a larger set of screen sizes and devices. Home page is good up to 27'' monitors, for the other 2 there is room for improvement, but their design especially Settings page is just a temp and very far from final.

Closing this for now. It's merged and you can now use the main version on [master](https://flux-three.vercel.app/).

[2021-11-13 15:33] #56 closed

[2021-11-23 18:12] steffidortmund commented on #8
Hi, I really like your app!
I have just tried to import a .zwo file and every time the cool down is the other way around... is there something wrong?
<img width="296" alt="Unbenannt" src="https://user-images.githubusercontent.com/66872604/143080881-bc1bf5bf-70f7-4f01-8007-cdeee017671f.png">

[2021-11-23 19:12] dvmarinoff commented on #8
Hi, can you post here the xml content of the .zwo file?

I created a test workout similar to yours with [zwofactory](https://zwofactory.com/) and it seem alright:

![flux-three vercel app_(Macbook Air)](https://user-images.githubusercontent.com/7523832/143088436-bcdc4cf0-1b4e-4f87-8f95-326594d982d2.png)

Here is the content of mine:
[code]

[2021-11-30 17:28] dvmarinoff opened #61 "Heart Rate is not being saved to the .fit file"
Heart Rate is being collected, but the values are falling back to 0 when the Records are encoded into .fit

<img width="1439" alt="Screenshot 2021-11-30 at 19 25 19" src="https://user-images.githubusercontent.com/7523832/144097215-587d2f4b-7925-4fd9-966b-396ce3808bf3.png">

[2021-11-30 18:59] dvmarinoff commented on #61
Fixed it with https://github.com/dvmarinoff/Flux/commit/d8361679669b41fa0c98509c56fcdb719d203c6a

<img width="1440" alt="Screenshot 2021-11-30 at 20 56 19" src="https://user-images.githubusercontent.com/7523832/144110275-476cc804-28f8-46f5-b5a3-100ae436d311.png">

On Garmin Connect:
<img width="898" alt="Screenshot 2021-11-30 at 20 50 10" src="https://user-images.githubusercontent.com/7523832/1441

[2021-11-30 19:20] dvmarinoff commented on #61
a couple of page refreshes should bring the new version

[2021-12-01 13:57] dvmarinoff opened #62 "PowerLow and PowerHigh on a .zwo Cooldown tag"
In Zwift workout creator if I set PowerOne=40 and PowerTwo=75, on a Warmup tag it will be PowerLow=“0.40” and PowerHigh=“0.75”. So far so good, but if I set them to PowerOne=75 and PowerTwo=40, on a Cooldown tag they will become PowerLow=“0.75” and PowerHigh=“0.40”. This doesn't make any sense and there appears to be no official spec about it.

<img width="1552" alt="cooldown-attributes" src="http

[2021-12-01 13:59] dvmarinoff commented on #62
Posted on [ZwiftCoders](https://www.facebook.com/groups/zwiftCoders) about it awaiting replies.

[2021-12-02 22:16] #61 closed

[2021-12-03 14:21] dvmarinoff commented on #62
I created the same workout with 3 different workout builders, Zwift, ZwiftWorkout.com, zwofactory.com, they all agree about this strange behavior of the attributes. The change is simple, but this still doesn't make sense. Anyway I am leaving it like this. Here is screenshot with the 3 workouts:

[2021-12-03 17:34] dvmarinoff commented on #62
Exchanged the values everywhere in the build in workouts, closing the Issue for now.

[2021-12-03 17:34] #62 closed

[2021-12-06 08:28] richlv opened #63 "Add info on Firefox support"
Opened the online version with Firefox, but could not figure out how to get started.
As Firefox support is not mentioned in the documentation, couldn't figure out whether it's a support issue, or PEBKAC.
Could Firefox support state be documented?

[2021-12-06 09:06] dvmarinoff commented on #63
Sorry, about that, have missed to add Firefox in the support table, I am adding it now. In general I'll also add to the web version a popup of some sort that will notify new users if the browser is supported, but that's gonna happen when the project gets closer to first stable release. Thanks for catching that!

[2021-12-06 09:09] dvmarinoff commented on #63
Firefox would probably never have support, they've stated that they are against the web bluetooth and web serial API, and would not consider it for implementation.

[2021-12-06 09:23] richlv commented on #63
Thank you so much for the quick help, will try in Chrome then :)

[2021-12-06 09:28] richlv opened #64 "Schwinn IC8: pairing/operation"
In https://github.com/dvmarinoff/Flux, manufacturer/brand Schwinn is not mentioned.

Attempting to use IC8 (rebranded to 800IC later) with Chrome on Mac. Clicking on "CONTROLLABLE" scans and finds an entry "IC Bike". Selecting it and clicking "Pair" gives a brief pause, and the "CONTROLLABLE" light then switches from yellow to red.

Retrying this operation shows "IC Bike - Paired" :
<img width="26

[2021-12-06 09:37] dvmarinoff commented on #63
Chrome on Android, Mac, Windows 10, Ubuntu and probably other linux distros would be fine. Also most Blink derived browser have support: Edge, Opera, Samsung Internet, but not Brave.

The project has some quirks, but I am working on fixing those, and it's kinda dynamic right now. I'll try to right them down in a single document, that may be the start of a user guide.

In addition to that there are

[2021-12-06 09:44] dvmarinoff commented on #64
Something is going wrong on connection, probably some service is missing or misbehaving in an expected way.
Can you open up the developer console with F12, attempt to connect and make a screenshot like this:

<img width="1440" alt="Screenshot 2021-12-06 at 11 41 09" src="https://user-images.githubusercontent.com/7523832/144823826-77de33df-1a87-473f-a670-9b617fd2818e.png">

This may help me figure

[2021-12-06 10:11] dvmarinoff commented on #64
Investigating ... there is a lot of info in that issue you linked. Might catch the bug, but will need your help to verify if it works on the particular hardware, I just don't have access to this Spin bike.

[2021-12-06 10:16] richlv commented on #64
Searchable message and screenshot:

":ble 'Could not request ble:controllable' DOMException: No Characteristics matching UUID 00002ad8-0000-1000-8000-00805f9b34fb found in Service with UUID 00001826-0000-1000-8000-00805f9b34fb."

<img width="1678" alt="image" src="https://user-images.githubusercontent.com/112888/144828438-41336574-9af6-454d-a394-af821a76bb92.png">

[2021-12-07 08:25] dvmarinoff commented on #64
Status Update:

I created a nRF Connect simulator with the same services and characteristics as the Schwinn according to the data in that issue. And I realised that the Schwinn is missing the regular control characteristics like the one showing in the bug log: 0x2ad8 or "Supported Power Range". My code just assumed that an FTMS device is also a control device, but that is not necessary, actually m

[2021-12-07 09:22] richlv commented on #64
Wonderful, thank you - it now connects successfully, and gets some values (power/cadence/speed).
Will try it out some more later.

[2021-12-07 10:21] dvmarinoff commented on #64
In the pictures it looks like the spin bike has a manual resistance knob.

[2021-12-07 10:27] richlv commented on #64
It does, but it's magnetic resistance - wouldn't that be controllable?

[2021-12-07 10:40] dvmarinoff commented on #64
Zwift forums seem to confirm that: [zwift](https://forums.zwift.com/t/schwinn-ic8-spin-bike/171514/295)

[2021-12-07 12:27] #63 closed

[2021-12-08 10:53] richlv commented on #64
As it seems to be connecting now, that might be it for this issue.
Thank you for the great help :)

[2021-12-08 10:58] dvmarinoff commented on #32
Nope, it was the missing wind resistance coefficent parameter. I set all of the indoor simulation parameters to their corresponding default values from the FE-C spec and it now works. Sprints on 2.0% don't get soft at all got up to 700 watts on an easy gear.

[2021-12-08 10:58] #32 closed

[2021-12-08 11:04] dvmarinoff commented on #64
Cool, I am glad it now works for you now!
I am also taking this as an opportunity to refactor the whole bluetooth FTMS section of the code, something I wanted to do for awhile , but since it was working for everyone I was kinda hesitant to start changing it. Will merge into master in a few days and notify you here.

Cheers

[2021-12-09 10:05] dvmarinoff opened #65 "add debounce on the target setting"
You have 2 cases here:

1. The User wants to rapidly update the target value and clicks many times on the button
2. The app is sending updates too quickly for the trainer to handle. Some old trainers need like 4-10 seconds to proccess a single command and fail.

Solve 1. by adding a debounce on the target button, and send just the last value.
Solve 2. by adding a command queue, and possibly wait f

[2021-12-09 13:08] dvmarinoff opened #66 "it's time for a logger"
log important bits of BLE and ANT+ communication in JSON form.

[2021-12-10 09:04] 991jo opened #68 "Very high values in the workout diagram overlap with other items or are cut of"
If the power of a workout is to high the diagram overlaps with the item above the list. This starts at ~150% FTP. See the attached image:

![image](https://user-images.githubusercontent.com/1368323/145545946-927e017d-45c5-4644-8356-261dfac243b6.png)

(Note the description is wrong, the test goes to 300% FTP).

A similar Issue exists on the home screen. Here the diagram is cut off

![image](https:/

[2021-12-10 10:02] #64 closed

[2021-12-10 17:18] dvmarinoff commented on #68
Now, that’s what they call an edge case :)
In general I haven’t though yet about support for FTP tests, they would need to be some kind of dynamic/generative workouts.

The specifics here are two:

- I am using little bit of css hackery with flexbox + regular html instead of proper graphing solution, and for now I’d prefer for things to stay that way.
- I will be changing all the code around the v

[2021-12-10 17:31] 991jo commented on #68
Unless you are short, sprint-like efforts or a ramp test you probably wont run into that issue.

I can definitively understand your desire to keep the amount of dependencies small.
As a quick fix your current solution is fine.
I think you can close this issue or keep it as a reminder for when you want to overhaul the views. Your call.

[2021-12-10 22:46] richlv commented on #64
Thank you, that sounds wonderful :)
BTW, Schwinn is not listed in https://github.com/dvmarinoff/Flux - could it be handled here, or would a new issue be better?

[2021-12-11 18:13] dvmarinoff opened #71 "Setting a resistance target over bluetooth FTMS"
The bluetooth FTMS spec says use UINT8, the nRF Connect Simulator validates this approach, by accepting values in the range or 0 to 25.5 with a resolution of 0.1. But the some trainers disagree. The Tacx Flux returns invalid parameter when resistance target is set as UINT8 and the whole message is 2 bytes long as per spec, but works when it is set as UINT16 in the range of 0 to 100 with a resoluti

[2021-12-11 18:44] dvmarinoff commented on #64
Thanks for the reminder, just added it to the readme description.

[2021-12-12 02:00] ihilt commented on #71
Looking through the [errata](https://www.bluetooth.org/DocMan/handlers/DownloadDoc.ashx?doc_id=436247) (section 4.1) I think the issue might be that this was changed from `UINT8` to `SINT16`.  So, if I'm thinking about this correctly, that would be 2 bytes with a range of `-3,276.8` to `3,276.7` if it's using two's complement.  Strange that they made it a signed data type.

[2021-12-12 09:10] dvmarinoff commented on #71
<img width="628" alt="Screenshot 2021-12-12 at 11 02 52" src="https://user-images.githubusercontent.com/7523832/145706501-a9f25c9e-672f-43cd-9c4e-46350123fd57.png">

Good job finding those, I was puzzled by the resistance target behaviour, but never thought to look in there.
The previous implementation had it that way, but I was afraid it was not spec compliant., it turns out it is.
Thanks for the

[2021-12-12 15:16] #71 closed

[2021-12-13 19:28] dvmarinoff opened #75 "research the details around FTP Ramp test calculations"
- interval length (30 s, 60s, 120s, etc.)
- what percentage of final interval power
- how time covered in the last interval relates to the final calculation

[2021-12-14 17:36] loopingleo commented on #75
Hi @dvmarinoff -
what do you mean by research? Are you looking for standard percentages?
I can tell from Zwift that there you can do a ramp test with 60s steps going up 20W every step.
Then you take 75% percent of your last step completed plus seconds elapsed in incomplete step divided by 60 times 20W and add this part to the previous value.
It is a very simple calculation.
Let me know if you mean

[2021-12-14 17:40] loopingleo opened #76 "run on local host & heart rate stabilisation mode"
Hi @dvmarinoff -
May I kindly ask you to show me how I can run the app on local host so I can test various ERG mode settings.
For instance, I would like to test whether I can keep my heart rate stable through adjusting the ERG power.
Thanks for your help and your great app!
Best,
Leo

[2021-12-14 18:53] dvmarinoff commented on #76
Thanks I am glad you find the app useful!

I personally use light-server for the development of this app, but there are many other options on npm that will do.

[code]
Then open http://localhost:1234/ in a compatible browser from the table in the Readme.

[2021-12-14 19:14] dvmarinoff commented on #75
Yeah, something like that, but when you start digging in all the discussion around the various forums (TR, slowtwitch, etc.) cycling coaching podcasts and so on, there seems to be an infinite amount of details and many claims about this test measuring way better than some other test that kinda looks almost identical. And going down this rabbit hole you soon find yourself reading academic papers, a

[2021-12-14 20:57] #54 closed

[2021-12-14 21:28] loopingleo commented on #75
I agree. There is a lot of research and various opinions on what is the best testing protocol.
However, I think it is always going to be just another estimate. Results vary from person to person. Especially, if you are training a specific area of your power profile. For instance, one of my cycling strengths is a pretty high maximum aerobic power (~5 min power). In my case, at the end of this road

[2021-12-15 11:44] dvmarinoff commented on #75
I am not a coach or anything, but I agree. The real picture can be more complex than what the 20 min and the Ramp test could show. Moreover while the former is really hard to pace and prone to underestimation, the later for some riders can result in significant overestimation. Yet doing the 1 hour test each month is really taxing.

Anyway the Ramp tests seem to be the norm now and it's going to be

[2021-12-15 11:48] dvmarinoff commented on #75
Ramp Tests:

[code]

[code]
![Screenshot 2021-12-15 at 11 21 57](https://user-images.githubusercontent.com/7523832/146181045-f72b9ec0-a3ae-4a27-a2c5-c7fd0014be39.png)

Source: SMART Bike Trainers  on [YouTube ](https://www.youtube.com/watch?v=QPWe8JxkxwE&t=277s)

[2021-12-15 12:58] loopingleo commented on #76
@dvmarinoff - do you have an I idea where in your code I could place a piece of code which automatically adjusts the target power so that heart rate stays stable at a predefined target heart rate?
Thanks. ✌🏼

[2021-12-15 14:25] dvmarinoff commented on #76
Now, I've gone a little nuts on the event-driven approach, I know, and currently I am in the process of putting some order into it. But the benefit is that experimental features can be done quickly.

If I correctly understand this is some kind of heart rate mode.

You can start by creating a file like [this](https://gist.github.com/dvmarinoff/465794fe4744b39971182e9f6cdc0f81) in the `/src/heart-ra

[2021-12-15 16:06] loopingleo commented on #76
Thanks, @dvmarinoff - this works really well. I have reduced the update check to every five seconds.

Do you have an idea how to update the target heart rate value during the ride? Right now I have the target HR hard-coded in the file. But what if I want to update that value during the ride? At the moment I have to refresh the page and re-pair sensors for that.

[2021-12-15 16:48] dvmarinoff commented on #76
You, would need to create a UI for this. It's easy to extend, mostly copy paste and rename stuff, but you have to know what the general pattern is. Here is gist with the pieces of code that need to be added to each file: [gist](https://gist.github.com/dvmarinoff/e9523ed606c29e44e73a10a890533614)
You will need to figure out the line numbers.

This will create an additional tab along the mode contro

[2021-12-15 22:06] loopingleo commented on #76
Wow, @dvmarinoff 😊👍🏻
Thanks a lot for your gists.
With a few tweaks here and there I was able to create that new mode.
First test ride went pretty well.
I need to refine the power setting a bit to account for the lag in heart rate changes.
I will let you know how when I am happy with the logic.

I could image this could be used for solid 20 min FTP test pacing where you need to ensure your heart r

[2021-12-16 11:15] dvmarinoff commented on #76
Thats’s true, heart rate is gonna lag behind, won’t be ease coming up with the algorithm. But I think this feature could also be useful for base training, where heart rate slowly drifts up, and the algorithm could adjust the power target inside the bounds of the targeted power zone.

Ride On!

[2021-12-20 19:20] loopingleo opened #83 "db / storage: power and heart rate history during ride"
Hi @dvmarinoff
How can I access power and heart rate history data during the rate?
For instance, last 30 sec HR average etc.
Thanks!

[2021-12-20 21:35] dvmarinoff commented on #83
In db you will find:
  -  `elapsed: <int>`,
Which is the number of running seconds since the timer has been started:

[code]

I guess you can calculate locally avg value over some period by using those two.
You can also use as an example the [PowerAvg view](https://github.com/dvmarinoff/Flux/blob/e0fddabb9b2a48ee4031036425017c1f2930ca8c/src/views/data-views.js#L223) which calculates average lap po

[2021-12-23 01:55] TClin76 commented on #50
Is there anyone successfully pairing Wahoo Kickr Bike as controllable device?
It seems that it could not be found during device pairing in controllable, only be found in power meter.

[2021-12-23 08:19] dvmarinoff commented on #50
Wahoo has added support for bluetooth FTMS to the Kickr bike since June this year. Which makes their custom protocol obsolete. It should work with FTMS, but there is a chance something is going wrong during the connection attempt, or the connection is being taken by some other device.

[code]

- Does the Flux controllable indicator blink to yellow and then go to red,
- or there is just nothing in

[2021-12-23 09:57] TClin76 commented on #50
KICKR BIKE: just nothing in the list of discoverable devices

Cadence feature: I found this feature in development version this morning. I will take a try when I get back to home.
Before the real test, I just think about what would be happened if both CONTROLLABLE and SPEED AND CADENCE are connected.
APP will receive two cadence data, how does the APP know which one it should use?

[2021-12-23 10:13] dvmarinoff commented on #50
I've added just the UI for speed and cadence, the bluetooth code is in testing, maybe another hour or so and I'll push it.

Else in the connection table you will notice that speed and cadence can be come from bluetooth controllable, power meter or speed and cadence sensor, some of the values are in white colour while others are in grey. If you have say controllable and cadence sensor connected, yo

[2021-12-23 10:19] TClin76 commented on #50
Noted!! It is a perfect way for manually choosing source of data.

[2021-12-23 13:51] TClin76 commented on #50
Cadence is connected sucessfully (Bluetooth indicator is in green color), however the value stay in "0" while pedaling.
Another issue is that my smart trainer is now unable to be connected in Controllable for this development version
(Bluetooth indicator for controllable blink to yellow and then go to red).
For your reference.

[2021-12-23 15:27] dvmarinoff commented on #50
Thanks for the feedback, I am still working on it.

- Cadence is now tested against some data derived from the spec description, should work now, but still it is untested with real device.  It should read sensible data, but for some edge cases it might show strange numbers.
- currently working on some improvements for FE-C over BLE, so if you have a trainer using that protocol (maybe a Tacx traine

[2021-12-23 15:54] TClin76 commented on #50
Trainer is now connected as Controllable, but no value.
Cadence is now showing some value, and then soon jump to 0. Keep repeating like this.

BTW, my trainer is Magene Gravat.
My friend owns a Kickr bike so he can help to test it.

[2021-12-23 15:58] dvmarinoff commented on #50
finished with FE-C over BLE, confirmed to fully work, latest development version is 0.1.1.

[2021-12-23 16:43] TClin76 commented on #50
Controllable works fine in version 0.1.1 now. Thanks for the prompt fix.
Cadence still has the same problem ( rpm -> 0 -> rpm -> 0 .......... )

[2021-12-28 21:36] UnJourAvec commented on #50
I have been following the project with a lot of interest. Myself I own a Kickr snap, it contains the wahoo characteristic a026e005-0a7d-4ab3-97fa-f1500f9feb8b in the 00001818-0000-1000-8000-00805f9b34fb service (cycling power). However, trainer is not recognized in the flux app. I have been playing around a bit for myself and unlocking the device by writing 0x00 into wahoo characteristic does not

[2021-12-29 17:53] dvmarinoff commented on #50
Hi @UnJourAvec,
I started working on this. I did some changes to the BLE scan filters and the latest development version
0.1.2 at [flux-devel.vercel.app](https://flux-devel.vercel.app/) should be able to at least recognise the Wahoo KICKR Snap and connect to it. I also started a very basic implementation should read data and set power target, but I didn't have time to test it against a simulator t

[2021-12-29 19:54] UnJourAvec commented on #50
Hi @dvmarinoff ,

Thanks for your response. First, I checked with the 0.1.2 version. The controller is not recognized by the web application. Myself I scan for 'cycling_power', (service uuid 00001818-0000-1000-8000-00805f9b34fb) to find the snap, this does work.

I tried to unlock with  0x20 and it worked and than write with 0x42. Where did you find this information? I have been looking all over t

[2021-12-29 20:35] dvmarinoff commented on #50
`Where did you find this information?`

The op codes are in [here](https://github.com/codeinversion/sensors-swift-trainers/blob/93db8dd000e47233435a41ba061c23541ee18bb4/Sources/SwiftySensorsTrainers/WahooTrainerSerializer.swift#L25). Someone linked that project in another issue few months ago.

`Myself I scan for 'cycling_power'`

I was afraid that might be the case. It kinda breaks consistency wi

[2021-12-29 20:52] UnJourAvec commented on #50
I know, maybe this helps, but I believe cycling_power is the only option.
![image](https://user-images.githubusercontent.com/94013369/147701898-f6644db0-3758-467f-931d-c64f68c053b4.png)

BTW, I noticed getting the ERG control was not due to using 0x20 instead of 0x00 for getting control. It was due to using 0x42 instead of 0x05 to set target power. I am a bit confused though. In the sensors-swift-

[2021-12-29 21:11] dvmarinoff commented on #50
I do not know Swift but I guessed that the op codes are in base 10, because in other places in the code the hex values are used explicitly (so 66 becomes 0x42).

Thanks for the log! The odd thing is that the Snap has that Wahoo advanced FTMS its the next to last service in the bottom with uuid: `a026ee0b-0a7d-4ab3-97fa-f1500f9feb8b`. I am confused why it doesn't show up. Anyway temporary changed t

[2021-12-30 01:48] TClin76 commented on #50
Hi,
I am not familiar those FTMS things, but I look into the code in GoldenCheetah, there is another UUID seems to be the control service.

// Wahoo specific extension to the Cycling Power service
#define WAHOO_BRAKE_CONTROL_UUID "{A026E005-0A7D-4AB3-97FA-F1500F9FEB8B}"

https://github.com/GoldenCheetah/GoldenCheetah/blob/master/src/Train/BT40Device.cpp

[2022-01-02 09:59] TClin76 commented on #50
Hi @dvmarinoff
Good news. My friend tested the latest developing version with his Kickr bike, it works now!

[2022-01-02 10:52] dvmarinoff commented on #50
That's great!
Right now I am half way through with the implementation of the Wahoo Extended Cycling power characteristic A026E005-0A7D-4AB3-97FA-F1500F9FEB8B (that's the one you've also linked in the previous comment). I have only setting of power targets done, some of the parameters for SIM/Slope mode, and reading of power, speed, cadence.

So I am curious to see which control service is the Waho

[2022-01-02 17:02] UnJourAvec commented on #50
That explains! Curious for the kickr bike implementation. :)

[2022-01-03 07:44] TClin76 commented on #50
Hi @dvmarinoff
![image](https://user-images.githubusercontent.com/96434118/147908410-75bd0887-918d-41b6-a70b-9ed9afb8c7ba.png)

[2022-01-06 09:56] flame-n commented on #43
- Vitelor (from vite, quick)
- Veloverse?

Awesome work on the app so far! Just tested the demo and I love it! <3

[2022-01-06 11:29] dvmarinoff commented on #43
@flame-n , Thanks, glad you liked the App!

[2022-01-10 20:50] MedTechCD commented on #20
Is cadence from Power Meter supposed to work correctly on current master?
Just asking because i'm not getting cadence from my Assioma duo's. Power is ok when using the Unified L option.
Nice work! Like it a lot and looks very promising.
Other hardware used: Polar H10 HRM and Dare2Ride direct drive Smart trainer fully functional.

[2022-01-10 21:55] dvmarinoff commented on #20
Hey, Thanks!
Recently we’ve been working on adding support for speed and cadence sensors and they use the exact same algorithm for calculating speed as power meters so the logic between them is also shared. You are right the master version is lagging behind, but the latest work is on the [development version](https://flux-devel.vercel.app/) .

I am not yet done with the feature, but it works with

[2022-01-11 01:29] TClin76 commented on #43
Daken

"D"imitar
M"a"rinov
Bi“k”e
Pow"e"r
Trai"n"

[2022-01-11 10:55] dvmarinoff commented on #20
@mjunkmyjunk Just letting you know  recently I've done some work on the Wahoo extended Cycling Power Service, I don't know if you still need this. It's on develop branch inside the ble/wcps [folder](https://github.com/dvmarinoff/Flux/tree/develop/src/ble/wcps) , where `control.js` has the various messages like PowerTarget, SIM mode, etc. and `wcps.js` is handling the initiation of the service with

[2022-01-11 11:18] mjunkmyjunk commented on #20
@dvmarinoff thanks.. but I've also implemented it and I have no idea if it works. The tester I wasn't responsive so I didn't push. In the end, I just implemented FTMS (since wahoo trainers not support FTMS - in addition to the WahooExtendedCyclingPowerService.

[2022-01-12 07:58] dvmarinoff opened #90 "Tacx Neo: gatt operation already in progress error"
Pedaling the bike while establishing a connection to a Tacx Neo trainer results in GATT server error messages on each control command, oddly enough the commands execution is successful. Pedaling the bike only after connection finishes does not result in error messages.

<img width="1440" alt="Screenshot 2022-01-11 at 12 13 14" src="https://user-images.githubusercontent.com/7523832/149086564-d5b261

[2022-01-12 08:01] #83 closed

[2022-01-12 08:01] #76 closed

[2022-01-12 08:06] dvmarinoff commented on #14
Initial experiments showed that this approach won't result in a decent feature providing good experience.
Currently considering WebGPU, for a Zwift style 3D game solution.

[2022-01-12 08:06] #14 closed

[2022-01-12 08:07] dvmarinoff commented on #42
Will keep with Roboto for now.

[2022-01-12 08:07] #42 closed

[2022-01-12 10:32] dvmarinoff commented on #20
@MedTechCD  On second thought I realised that the connection table in settings requires a manual choice for data sources, and this might not be very intuitive. In the case of connecting a power meter it will switch to reading power from it, but cadence and speed will need to be picked. Wrote some [instructions](https://github.com/dvmarinoff/Flux/discussions/91) on data sources. I don’t know if tha

[2022-01-12 11:56] MedTechCD commented on #20
Thanks, didn't know that and probably the app tries to read cadence from the controllable and there's no cadence on my trainer. Will try that this evening.
What happens if I try to set reading power from my pedals on the controllable line? Is that simply going to read that power or is there a feedback loop that adjusts the target sent to the controllable to match the workout target? Guess you know

[2022-01-13 11:57] dvmarinoff opened #92 "add Power Match"
Match the controllable ERG target to the power meter output. Possibly by using a dynamic offset.

Notes:
- Trainers also have sweet spot power range when it comes to accuracy
- Flywheel speed,
- Temperature drift will mean that what is true for offset at minute 10 is not true at minute 40.
- Response time for HIIT style workouts like Chilli Pepper

[2022-01-13 11:59] dvmarinoff commented on #20
It’s true I do have both data streams available, the one from the trainer and the one from the power meter. But calculating the offset for power match is not that trivial. The offset will vary greatly depending on the current power output, flywheel speed, and accumulated heat inside the trainer.

- For example inside the 200-270 watts range, most trainers will align closer to the power meter, but

[2022-01-13 12:26] mjunkmyjunk commented on #90
Just curious why this is a problem? Seems to me on that this is just messages that says a connection is already the process of establishing.

[2022-01-13 12:55] dvmarinoff commented on #90
Failing subscription cleanup on disconnect wound explain the double `Disconnected` message at the end. Possibly the  multiple active subscribers, are sending multiple times the same command at the same time, hence: `GATT operation in progress`. But a page refresh would clean all subscribers, and still only the FEC BLE service fails with the same error even on 1 subscriber being active. While the f

[2022-01-13 19:12] MedTechCD commented on #20
Understood the function of selecting what metric comes from what source now. I can confirm that cadence from Assioma is working correctly. I now have Power and cadence from the pedals, speed from the trainer and HR from the Chest strap. The Dare2Ride  Fuego trainer understands ERG and Slope, not resistance but that is down to the trainer itself.

[2022-01-14 07:40] TClin76 commented on #92
I always have a question for Power Match in TrainerRoad.
Is it still in ERG mode for a smart trainer if APP use the power data from other pairing power meter?
In this case, I think APP send resistance command to trainer, rather than target power. Is that correct?

[2022-01-14 08:02] mjunkmyjunk commented on #92
The app can send
1) target power (using a fixed or dynamic offset to the Pedal Power Meter for eg)
2) A combo of Slope / Wind / Draft and such called "simulation mode" (ala zwift)

[2022-01-16 12:23] dvmarinoff opened #95 "Restoring workout record"
### Discussed in https://github.com/dvmarinoff/Flux/discussions/94

<div type='discussions-op-text'>

<sup>Originally posted by **TClin76** January 16, 2022</sup>
Hi @dvmarinoff

If Chrome crash before workout ending, is it still possible to find the temporary record (cache?) in any location for restoring .fit file?
Thanks</div>

[2022-01-16 16:38] dvmarinoff commented on #90
Wrong method was initiating the subs in controllable, which led to multiple handlers being created on reconnection.

[2022-01-16 16:38] #90 closed

[2022-01-19 08:24] dvmarinoff opened #96 "Dual recording"
Record the data of two connected sources of power.

Options:
1. In a single .fit file with a custom developer field for the second power source
2. In two .fit files one for each source
3*. Why stop at 2 sensors, maybe someone would like to record at ones a whole set of power meters + a trainer. That could be up to 5 different sources of power.

[2022-01-20 00:46] TClin76 commented on #96
Does .fit file natively support multiple power source records?

[2022-01-20 09:04] TClin76 opened #97 "Free Ride (switch between ERG and Slope)"
I found there is an issue when .zwo file contains FreeRide command.
When Flux enters the FreeRide interval, it will switch from ERG to Slope.
However when it leaves the FreeRide interval, it doesn't jump back to ERG mode.

https://user-images.githubusercontent.com/96434118/150307367-d5471426-4152-4f8e-9ed7-0c66b9cfbc7d.mp4

[2022-01-20 12:08] dvmarinoff commented on #97
See the app must have the ability to set the current mode, but also the User must have the ability to set the current mode and potentially  overwrite what the app/workout wants to do. It's a conflict of intent that I haven't decided yet on how to resolve, and just left Slope mode to always overwrite the other modes.

One idea is to add a lock button that allows the User the ability to  lock the cu

[2022-01-20 14:05] TClin76 commented on #97
I would suggest follow the way how Zwift
 Implement in workout.
<Unless user manually clicks “ERG OFF” to leave from erg to sim mode, erg always has higher priority than slope mode.>

If Flux switch from erg to slope due to FREERIDE command in .zwo, it should automatically switch back to erg when FREERIDE duration time is reached.
If Flux is set manually from erg to slope by user, it will stay in

[2022-01-21 02:55] TClin76 commented on #96
Understand. Thanks for the information.

[2022-01-25 07:16] TClin76 commented on #97
Just find another issue for .zwo parser.
It seems that Flux doesn't recognize "Ramp Duration" expression, but only "Warmup Duration" and "Cooldown Duration".

ex: <Ramp Duration="300" PowerLow="0.6" PowerHigh="0.7"/>

[2022-01-25 21:20] dvmarinoff commented on #97
Thanks, for finding those errors, you are really helping the project. I am currently fully focusing on finishing ANT+ support, which is a massive feature to bring to the browser. After I wrap things up with ANT+ I'll look into those.

[2022-01-27 16:13] jastax opened #98 "Splitting off the FIT parser"
Hey,

great work you're doing here.

I've been looking for a way to parse JSON to FIT in my project for quite some time and I'm not the only one. Most .fit parsers have github issues in which people wish & hope someone will implement it. As I see it in your project, you have done it.

Do you think it would be possible to split it off into a separate project or npm package for others to use?

Have

[2022-01-27 19:50] dvmarinoff commented on #98
Hi, thanks, glad you liked the project.

Actually I did split the .FIT code to a separate project, but the goal was to make a demo for a specific application (fixing broken Zwift .FIT files). I wrote about the project in the ZwiftCoders fb group, but there was like zero interest so I abandoned the it and focused on Flux and WebANT. It’s gonna need some restructuring in order to be publishable on n

[2022-01-28 05:43] jastax commented on #98
Hi,

cool, I thought that project was only for fixing .fit files!

Could you give me some info on how to properly use it?

Say I have a parsed fitFile (JSON)

What I found was a way for which I would have to split it in laps and records, i.e. for a fit file with one session:

`const laps = JSON.parse(fitFile).activity.sessions[0].laps;
  const records = laps.flatMap(parsed => parsed.records);
 con

[2022-01-28 09:28] dvmarinoff commented on #98
For the last few months I had my head all into trying to understand the ANT+ protocol, so it’s been some time since I last did any work on FitFIle and the details are a bit faded.

Now as I remember,  since the whole .FIT protocol is ridiculously vast, I focused only on what I thought is relevant for indoor cycling, so it want yet work with an arbitrary fit file, but only with the subset that Zwif

[2022-01-30 11:20] dvmarinoff commented on #97
HI, just added support for Ramp .zwo element and some code that enforces the current interval mode, which fixes the FreeRide element behavior. It's on development version 0.1.26

[2022-01-31 07:05] #97 closed

[2022-01-31 07:06] dvmarinoff commented on #53
Couldn't recreate this anymore. Closing ...

[2022-01-31 07:06] #53 closed

[2022-01-31 07:17] dvmarinoff commented on #12
Summary:
- WebSerial works on Linux,
- WebUSB + web-serial-polyfill works on Android and MacOS
- WebSerial and WebUSB are present on Windows 10, but nothing works there

This effort is getting way too big and is moving to another project.

[2022-01-31 07:17] #12 closed

[2022-01-31 09:52] fellrnr commented on #31
![Screenshot 2022-01-31 095143](https://user-images.githubusercontent.com/33463460/151772472-715bb382-7b41-4fc5-8f12-b5f8f9f8783f.jpg)
I've started to create a workout generator if anyone is interested. It's a simple C# desktop app.

[2022-01-31 20:09] dvmarinoff commented on #31
Curious to see this one, I’d really wish it was otherwise but I doubt that I’ll have time to work on this feature.
Does it work on MacOS or it’s strictly Windows?

[2022-02-01 08:25] fellrnr commented on #31
Right now it's a simple windows C# app, so no Mac support. I developed it for personal use to create Golden Cheetah QwkCode statements, then did a mod to generate ZWO format with your slope extension. I'm happy to send you the code, or work on it independently and publish via Github, though I'm not going to have time to do much in the next 6 weeks.

[2022-02-01 09:58] TClin76 commented on #97
Thank you!

[2022-02-02 00:07] GCuser99 commented on #50
Hi, thanks for sharing your project on GitHub!

I gave it a go today and succeeded in pairing my 2017 Wahoo Kickr and Wahoo cadence sensor but Flux did not seem to "sense" the cadence during workout attempts (I tried all 3 modes)... If there is something on my end that I can do to help debug, then let me know (I'm not a software engineer so you will have to be specific!)...

<img src="https://user

[2022-02-02 01:52] dvmarinoff commented on #50
@GCuser99 Thanks!

On your particular issue I think it’s one of those 2 options:

Case 1: Cadence from Cadence sensor needs to be activated
You will need to click on the grey cadence label in the Speed and Cadence row at connection settings to activate reading cadence from the sensor and not the Controllable. More on that [here](https://github.com/dvmarinoff/Flux/discussions/91).

Case 2: Connecti

[2022-02-02 02:08] GCuser99 commented on #50
@dvmarinoff your suspicion was correct - was issue #1 and recommended corrective action did the trick! I will give this a real try tomorrow... thanks!

[2022-02-02 22:10] GCuser99 opened #99 "Ble Disconnects (?) in Middle of Workout"
Hi @dvmarinoff,

Here are the results of a short test I ran today on your development version (flux-devel.vercel.app) ...

I created the following workout file for the test:
[code]
Next I succesfully paired my Wahoo Kickr and cadence sensors ...

I started the 23 minute workout, and after about 10 minutes the activities power profile in the display stopped updating and (I perceived) my output powe

[2022-02-03 00:26] dvmarinoff commented on #99
Thanks for the report, it’s incredibly valuable. And I am sorry to hear your workout didn't went through.

- The protocol
Looking at the log, I see the trainer is using the wahoo cycling power service (wcps). That’s an old Wahoo specific proprietary protocol from the days before the now standard bluetooth FTMS, and the bad news about it is that it’s also undocumented. Officially it is not supporte

[2022-02-03 00:46] GCuser99 commented on #99
I'm glad the test was helpful feedback. It is pretty amazing that your code works as well as it does without testing.

I didn't try to reconnect the device because I really didn't understand what was going on until after the workout was completed. I will try again to see if the dropout was just a fluke.

As for a fix other than an auto-reconnect, which you're not supporting now, I wouldn't bother.

[2022-02-03 00:58] dvmarinoff commented on #99
Hm, I'll have to think of some other way to communicate disconnections. Maybe a text message could show up on top of the current power graph. Else the red-yellow-green indicator on the side of the controllable label, at the top bar indicates the current status of the connection: disconnected-connecting-connected. But I guess it's confusing when the resistance remains the same and the clock is tick

[2022-02-03 01:08] GCuser99 commented on #99
I know now to look at the red-yellow-green indicator light. I wasn't really confused and knew something was wrong, but wanted to finish the test without complicating things. And besides I needed the exercise! Thanks again for sharing your software...

[2022-02-03 23:38] GCuser99 opened #100 "Is Slope Mode Working in WCPS?"
Hi @dvmarinoff,

I tried a test today to see how slope mode works. I'll admit up-front that I may have misunderstood Slope targets from Issue #26, but here is what I tried on the latest Dev App with Chrome browser:

[code]
I expected that after the warmup I would get 60 secs of flat slope free ride, followed by 15% slope free ride, etc...

What I observed on the display was that the workout never

[2022-02-04 01:02] GCuser99 commented on #100
I just noticed that "SlopeTarget" may not be the operative keyword, so I tried "Slope" instead...
[code]
What I noticed this time is that after the warmup, the mode did switch from Erg to Slope, and the slope indicator correctly updated for each of the slope intervals. However, the power remained at 110 regardless of my cadence, and I felt no difference between 0% and 20% slope. It felt like I was

[2022-02-04 01:07] GCuser99 commented on #100
On the ble disconnects - I am wondering if my Zwift Steerzo might be interfering - I will try with that turned off to see if I can get through a workout w/o disconnect...

@dvmarinoff , if there are additional tests that you would like me to perform to help test/debug, just provide instructions and I'll give it a go!

[2022-02-04 01:24] GCuser99 commented on #100
Also, I removed "pace" parameter (which I now see should be "Cadence") and tried again - the results were same as above. Felt like Erg mode @110 watts.

[2022-02-04 12:35] dvmarinoff commented on #100
### WSPC

The log shows that the last successful message is the ERG command to set power target at 110.
`1,66,1,0,110,0`, where 66 is the number code for ERG mode, 110 is the Watts and 1 possibly means success.
The Slope mode command received `1,70,64`, I don’t know the meaning of the error codes, but 64 isn’t good, should be 1.

Option 1: my guess about the format of the Slope command was wrong,

[2022-02-04 16:55] GCuser99 commented on #100
Ok, I'm willing to do a set of iterative tests when you need me to.
Here is one I thought of to address your Sim/Slope pairs issue:
**Sim/Slope Test:**
Chrome browser, Dev Vercel
This test is never asked to go into Erg mode to see if Erg is somehow interfering with Sim parameters:
[code]
It felt like a level free ride the entire 3 minutes:

[code]

[2022-02-04 18:39] dvmarinoff commented on #100
Excellent!

The order of events is:

`1,32,2`, initialise Wahoo characteristic, response code 2
`1,72,1,0,0,0`, setWheelCircumference, success, value 0
`1,67,1,0`, setSimMode, success
`1,71,1,0,0,0`, setWindSpeed, success, value 0
`1,70,1,0,0,128`, setSlope, success, value 0
`1,70,1,0,153,153`, setSlope, success, value 20

The setSlope command passes with success. So it is ERG that’s braking the S

[2022-02-04 22:47] GCuser99 commented on #100
Ok, I finally made it through 2x10 minute workouts without dropping the controllable. The first workout I'm not including here because the cadence sensor dropped after the first several minutes (first time that has ever happened!). I will do some tests on a different windows pc later to rule in/out the Bluetooth stability of the computer. I will also do a test where I connect Zwift through Bluetoo

[2022-02-04 23:27] GCuser99 commented on #100
BTW, I ran several additional tests by increasing the slopes by two orders of magnitude (10,15 to 100,150 to 1000,1500) to rule out a units problem. Unfortunately for these tests, it looks like the code limits slope to 40. However, I felt no difference even at 40.

[2022-02-05 00:12] GCuser99 commented on #100
Another thought occurred to me similar to above - should/can you check sim parameters to make sure that weight is being encoded properly? For example, if weight is set to zero inadvertently, then slope should have no effect, right?

[2022-02-05 00:51] GCuser99 commented on #100
Sorry for the many comments - but I just tried a test setting my weight to 500 kg, reasoning that even on a flat road, I should feel a difference in resistance from the default of 75 kg in sim mode. But the developer console showed wcps :sim 75, 0.004, 0.51. Then I set my weight to 70kg, and it still showed 75 in the console. Can you check to make sure the user input weight widget is working?

[2022-02-05 11:21] dvmarinoff commented on #100
## Weight
Yep, the User weight is transmitted over the custom controllable protocol and I’ve set it to a fixed value 75kg / 165lbs, for simplicity. I’ll hook up the weight widget once we figure out the controllable protocol.

Else I’am using GoldenCheetah and [SensorsSwiftTrainers](https://github.com/codeinversion/sensors-swift-trainers/blob/master/Sources/SwiftySensorsTrainers/WahooTrainerSeriali

[2022-02-05 11:37] dvmarinoff commented on #100
OK, checked and in fact I was sending wrongly formatted arguments to wheel circumference and wind speed which probably resulted in them being 0. Didn't have the time to write tests now, but push some code with fixes. Hopefully this will work. Will return later ro examine this further and write proper test cases.

[2022-02-05 18:04] GCuser99 commented on #100
Good catch @dvmarinoff! Well the good news is that WE GOT SLOPE! In the following test, I really felt the slope changes. I'm going to do some more analysis of my ride to see if the power-speed numbers are reasonable. I'm not 100% sure, but it did feel like the speed might have been a low for my power output...
[code]
[code]
![Screenshot 2022-02-05 105737](https://user-images.githubusercontent.com/

[2022-02-06 02:09] GCuser99 commented on #100
Just to close the loop on the wcps slope issue... I ran a slope-only workout where for each interval I targeted a pre-selected power and tried to maintain a consistent cadence and speed (as best as I could). Here is the workout file:
[code]
Next I calculated power based on slope and trainer speed for comparison with trainer power. For calculated power, I matched all of the parameters that were use

[2022-02-06 21:48] dvmarinoff commented on #100
Great Job!

Thanks for taking the time, producing and editing the logs!

I am working on fix for the problems you've mentioned. Will push them on Monday together with a first version of auto reconnects. And also a debounce function that hopefully will take care of most `GATT operation already in progress.` errors.

[2022-02-06 21:58] dvmarinoff commented on #100
About speed, Flux just displays the data that's coming from the device. It is not trying to calculate speed from power.
Wahoo trainers however have this option baked in. It can be selected from the wahoo app. Else most other trainers including my Tacx report flywheel speed which is mostly dependent on cadence and definitely not power. [Here](https://www.youtube.com/watch?v=kkLbcWIh9LY) is GPLama e

[2022-02-06 22:26] GCuser99 commented on #100
Right I think I get the concept with regard to erg mode. But in sim mode what happens? Does the cadence data get sent to my trainer, and then based on that, flywheel speed, power, and sim parameters, my trainer calculates speed? Because the speed and power stored in the fit file, along with the sim parameters and implied slopes are consistent with the standard cycling physics model.

I made the co

[2022-02-07 21:03] dvmarinoff commented on #100
My guess is that the Kickr doesn't deal with cadence at all. They get speed from the power model, which needs just the simulation parameters and measurements from the brake + some calibrated friction. Maybe that's the reason they didn't had cadence.

Your experiment is great on verifying that Flux sends the right parameters, but I don't think it will replicate the result on a Tacx trainer which is

[2022-02-07 22:59] GCuser99 commented on #100
Thanks.

BTW, did you notice the impact of that 2m/s headwind in my power chart, especially on the flat intervals (compare lowest curve with the actual)? I think that is why I ["perceived" that the speed was low](https://github.com/dvmarinoff/Flux/issues/100#issuecomment-1030671214) for my pedal effort!

Can this issue be closed now?

[2022-02-08 01:52] TClin76 commented on #99
@dvmarinoff BLE unexpected disconnection also happened in my case, but not so often.
However my trainer (Magene) handle controllable disconnection is quite different from your TACX Flux.
It seems that the ERG is still working, therefore I couldn't notice from resistance suddenly dropped.
I think it is a good way to reset power value to 0 which is much easier for user to notice that the connection

[2022-02-08 07:58] #100 closed

[2022-02-08 08:26] dvmarinoff commented on #50
Most functions are working now. The biggest mystery that remains is the unlock command `32` and its' response: ` :rx :wcps :response 1,32,2`. What does `2` mean?

[2022-02-08 12:53] dvmarinoff commented on #99
@TClin76 Thanks for the report!

If I am not mistaken thats on MacOS. Can you share more about your setup and also how often you get the drop outs?

[2022-02-08 19:10] dvmarinoff commented on #65
The debounced functions will fire first and then halt until rapid input stops then will wait for the configured time and fire with the last value. So you can now go nuts on the input shortkeys, without generating a bunch of `GATT operation in progress` errors. Irregular pattern of clicks may still cause some.

It's configured on Controllable operations, but in each separate control service, becaus

[2022-02-08 19:10] #65 closed

[2022-02-08 19:25] dvmarinoff commented on #100
Just pushed an update 0.1.27 for development version. A lot of changes made so good chance of some errors getting through my testing.

- Default wind speed is set at 0 m/s.
- Weight widget is hooked up.
- Weight is being send when establishing connection with a trainer.
- Debounce function with 1000ms will take care of errors resulting from rapid inputs (manual ERG/Slope).

[2022-02-09 10:48] TClin76 commented on #92
@dvmarinoff This is something related to the topic of power match, so I write in this thread.
Currently when trainer is pairing to FLUX, APP will occupy both power meter and controllable.

Is it possible to separate the pairing procedure for controllable and power meter? Just like what the most APP does.
In some cases, I would like to pair power meter and controllable to different APP. (like ROUVY

[2022-02-09 10:51] mjunkmyjunk commented on #92
if you're connecting via bluetooth, I don't think this is possible.
Or are you on ANT+?

[2022-02-09 11:02] TClin76 commented on #92
@mjunkmyjunk
OK ! I see
I did it on ANT+ before, but haven’t tried on BLUETOOTH.
Thank u for prompt comment

[2022-02-09 11:24] MedTechCD commented on #92
Smart trainers can be paired in two ways: as a Controllable or as a Power source. Power meters obviously only as a Power source. Most Controllables and Power meters have only one BLE channel thus in BLE you can only pair one app to each. If they also have ANT+, you can pair any number of apps/devices in ANT+.
Just make sure that only one app/device is controlling the Smart Trainer! For the rest th

[2022-02-09 15:00] dvmarinoff commented on #92
@TClin76 just added a basic tutorial on [How-To](https://github.com/dvmarinoff/Flux/discussions/101) use Flux with a second app. Will keep adding to it in the future.

[2022-02-09 17:01] dvmarinoff opened #102 "add live summary section"
A summery section with:
- absolute time in power zone
- % time in power zone
- TSS
- finished intervals data like duration, avg power, avg cadence, avg heart rate,

All this can appear at the top of the Workouts page once a ride is started. And act as a summary once the ride is finished.
Think of a way to indicate users that this thing exists, maybe an automatic page switch to workouts when the wo

[2022-02-09 17:03] dvmarinoff opened #103 "design a new way to display interval information from workout graph"
Something that is mobile device friendly.

[2022-02-09 20:14] GCuser99 commented on #100
I just completed a short test of Flux dev version using Kickr 2016, Garmin cadence and HRM sensors, and Chrome on Windows 10. Worked with no problems! I'll try a longer "real" workout later...
[code]
[code]

[2022-02-09 22:11] dvmarinoff commented on #100
Thanks! Would have been Impossible without your help! Let me know later how the long session went.

[2022-02-09 22:14] dvmarinoff commented on #99
I am working on bluetooth auto-reconnects, but will have to withhold them for a few more days, I am having some issues with the scanning API. A few more stability improvements are coming along too, but need more testing.

[2022-02-09 23:41] TClin76 commented on #92
Thank you @dvmarinoff, that is a great tutorial.

I do use ANT+ as the way for connecting Rouvy while using Flux via Bluetooth.
However ANT+ connection is not as stable as Bluetooth, I need to get another extended cable for ANT+ dongle in order to shorten the distance. So I start thinking if it is possible to connect both Apps via Bluetooth in the same time.
Now I know it has to be capable of the

[2022-02-11 18:08] dvmarinoff opened #106 "add auto-reconnect on bluetooth dropouts"
### Option 1: Call device.gatt.connect() directly after a dropout

- 9 out of 10 times it reconnects successfully, but
- it takes 9-20 seconds to establish a connection (the Trainer changes resistance at that point), and then
- it hangs for 50 seconds overall for the promise to resolve and return server
- then 5-7 seconds more for `server.getPrimaryServices()` to resolve
- which adds up to ~60 sec

[2022-02-15 08:41] PhatWheZ commented on #43
OpenSpin

@dvmarinoff, im super happy i found this project. Didnt want to fork out to Zwift just yet, and this does exactly what i need from an indoor trainer aspect.

Got a race coming up that im keen to prepare for, need to setup a workout based on their datapoints
![image](https://user-images.githubusercontent.com/19488741/154024510-15373606-7599-4deb-af79-fc079f04d62b.png)

[2022-02-15 08:58] PhatWheZ opened #107 "Ability to create workouts off Distance"
Putting together a workout file based on estimated durations per data point for a upcoming event.
Would it be possible to generate a workout_file using Distance rather than Duration?

[code]
![image](https://user-images.githubusercontent.com/19488741/154027504-f7d4c417-e0e1-44ec-991c-488344ce6665.png)

[2022-02-15 09:17] mjunkmyjunk commented on #107
I presume that you do not have a GPX / FIT / TCX of the route in question or have the ability to "plot" the route using a service like Plotaroute.com?

If you have, there are some apps which will take those FIT/TCX/GPX file and create an "indoor trainer" type ERG mode or SLOPE mode workout that you can do.

TrainerDay.com supports this (subscription needed)
BreakAway:Indoor Training iOS app also s

[2022-02-15 09:23] mjunkmyjunk commented on #96
This is a good idea. But it will depend on the WEbSite if they're able to actually parse and display them. RunAnalyze? intervals.icu? Garmin Connect?

Interesting nevertheless

[2022-02-15 09:26] mjunkmyjunk commented on #92
https://groups.google.com/g/golden-cheetah-users/c/vpUq4jn587Q/m/6sHmDPEKAgAJ

some discussion there.

[2022-02-15 09:32] PhatWheZ commented on #107
A program I have come across is ridewithgps.com which allows me to export the route as a .gpx file.

I have ready the threads of the "inaccuracy of conversion" so I'm not too worried about the specific experience, but rather the general overview.

Will definitely see what i can find to convert on the opensource / free side of things and give that a bash

[2022-02-15 09:46] mjunkmyjunk commented on #107
In that case, then you have your "partial" solution.
Use ridewithgps.com, export as GPX

then either use trainerday.com or BreakAway: Indoor Training and you can ride it.

[2022-02-15 10:09] dvmarinoff commented on #107
@mjunkmyjunk I wish to believe you are well meaning, but multiple promotions of closed-sourced proprietary projects, inside issue tickets is not helping the discussion and is bordering spam. Please reconsider this.

For right to reply in order not to spam here, you can use email.

[2022-02-15 10:15] dvmarinoff commented on #107
@PhatWheZ using Distance instead of Duration is not supported right now, but it's something I've been wanting to add. I'll come up with a couple of options and post here.

The main obstacles to tackle:
- calculating speed from power
- figuring out the coexistence with ERG, and the other Slope modes
- extending the .zwo format and its parser

[2022-02-15 10:22] mjunkmyjunk commented on #107
Sure. Responses deleted

[2022-02-15 10:24] PhatWheZ commented on #107
@dvmarinoff , keen to see what you can come up with. Was able to get the .gpx converted into a .zwo file, however the duration of the workout is almost 1 hour quicker, so highly unlikely ill survive that :)

[2022-02-15 19:24] GCuser99 commented on #107
@dvmarinoff, I like the slope-mode with respect to distance idea as well. I remember training for mountain bike races and turning my activity gpx (with power meter) into an erg representation of the race course but it sucked for training. I realized then that erg mode is important and excellent for interval training but not much else. I think being able to ride a gpx course (or slope-distance simp

[2022-02-16 03:05] mjunkmyjunk commented on #107
https://github.com/GoldenCheetah/GoldenCheetah/blob/ec6d7838d158816dfcece3a1e33b0831cf4d779c/src/Train/BicycleSim.cpp#L190

@GCuser99 it uses the KE term

[2022-02-16 08:58] dvmarinoff commented on #99
Closing this one. Will track progress of web-bluetooth auto reconnects [here](https://github.com/dvmarinoff/Flux/issues/106).

Did a lot of work on the issue last week, but with little progress. Some unexpected web-bluetooth behavior turned out to be related to a current bug in MacOS bluetooth which was only partially resolved by the latest update. Will do some easy features this week and resume w

[2022-02-16 08:58] #99 closed

[2022-02-16 22:48] GCuser99 commented on #107
@dvmarinoff in case it's of any use, attached is an MS Excel speed-power calculator (zipped) with VBA code based on Martin et al. There are two sheets - one to verify my VBA code using example calculations given in the paper. The other sheet is a general calculator designed to let you test sensitivity of some of the various perturbations of the basic speed-power model (such as how big of a differe

[2022-02-17 08:11] dvmarinoff commented on #107
@GCuser99 Brilliant!

will check these out, hope Open Office has support for VBA.

[2022-02-17 08:32] dvmarinoff commented on #102
Update:

- The power in zone widget can go between percentage and time when user clicks on the % / min button.
- Laps are listed bellow in a latest on top stack, with avg power colored to power zone.

Remaining Issues:
- still have no idea where to place this functionality
    - Option 1: on a separate tab. But putting a 4th button at the bottom will brake the symmetry. And this needs to be no mor

[2022-02-17 19:26] dvmarinoff commented on #107
It opens with Open Office! Will try to port it to javascript.

[2022-02-19 17:17] GCuser99 commented on #43
I really like "OpenSpin" as suggested above. Another similar - VirtualSpin...

[2022-02-22 00:29] GCuser99 commented on #107
After having some time in surgery recovery to further reflect about this, here are my thoughts about some of the issues...

I think it would be nice to have an implementation that will yield reasonable speed-distance (and elevation?) results for both Erg and Sim modes.

There is the decision about what power-speed model to use. For example, do you include:

- dynamic rolling resistance (http://www

[2022-02-22 14:26] dvmarinoff commented on #107
@GCuser99
Best wishes and speedy recovery! Hope everything is well now!

[2022-02-22 14:26] dvmarinoff commented on #107
About the model, ideally I want to have speed represented as an accumulation of accelerations over time.
Something in the lines of this article and the physics exchange answer you linked.
I am gonna code something today and see how far I get.

[2022-02-22 18:47] dvmarinoff commented on #107
Started work on this feature. Code is going to be on the `distance` branch and is hosted here: https://flux-test.vercel.app/.
I've added a new Virtual Speed field in the place (just for now) of the Distance field next to the regular Speed field.

The model is in here: https://github.com/dvmarinoff/Flux/blob/distance/src/physics.js,

Where I have included a direct translation to javascript of the V

[2022-02-23 21:26] GCuser99 commented on #107
Great start on this @dvmarinoff. I think there is an error in the following line in virtualSpeed:
[code]
The result of what is on the right of the assignment is power (force*speed).  Below is one possible refactor to get speed and acceleration (please run through debugger as I have not!). But note that the speed and acceleration are approximate in that they are discrete (not instantaneous) and lag

[2022-02-24 15:55] dvmarinoff commented on #107
@GCuser99 I can't get this version of the model to work will need help. Created a notebook-like executable version of the `physics.js` file with observablehq here: https://observablehq.com/d/17cf1ccfcc8cfa56, maybe we can collaborate over there to get this working.

Main question I think is how to update keResistance when acceleration in not 0?

[2022-02-24 16:47] GCuser99 commented on #107
Ok no problem. First a couple of questions:

1) should I use the defaults in function Model if argument not specified in Function test?
2) did you mean to set dynamicCrr=true in Function test?

In virtualSpeed we never update keResistance - it's always zero because we are calculating steadystate power, ie, power needed to sustain last state's speed. Acceleration is an output from virtualSpeed, not

[2022-02-24 17:15] dvmarinoff commented on #107
I just factored out of the main function some of the parameters, so they can be reused between functions as some of them doesn't exactly need to update in real time (weight, etc.). The defaults are just fallback values as specified in the ANT+ spec, you can use any you wish and the `use` object in defaults is used to switch on and off the various boolean parameters, so `dynamicCrr` and  `spokeDrag

[2022-02-24 17:47] GCuser99 commented on #107
Ok the first order problem is my very bad vba to js translation! I apologize.
In virtualSpeed change to the following:
[code]
Now we are a lot closer. I will work on the other problems while you are sleeping :-)

[2022-02-25 18:56] dvmarinoff commented on #107
@GCuser99 Thanks for the help! It was really a set of rogue parens that caused the issue. The new models is giving very very small error, however it takes some time to decelerate to 0 km/h which is about 120 seconds independent of the initial speed or the time resolution (dt). Will do more experiments and report later. Is it worth the time to dive in the other integrators, it appears that Golden C

[2022-02-25 22:32] GCuser99 commented on #107
Using Martin et al modeling options (true, true ,true ,false ,false), crr=.004, CdA=.4, Rho=1.275, mass=85 kg, v0=7 m/s, slope=0, I get 99.2 secs and 255 m stopping time and distance. But in the last 20 secs of that, I only traveled 7 m (practically track standing)!

I did see a dependence on v0. But as v0 gets higher and higher, the increment in stopping time gets smaller. I'm thinking that is du

[2022-02-25 22:46] dvmarinoff commented on #107
No worries, the model is pretty good right now. Worst case we implement 'virtual brakes' or something.

Cheers!

[2022-02-27 14:37] dvmarinoff commented on #107
Over Bluetooth I get a series of discrete messages from the device. The indoorBikeData message can contain the latest measurement for power, speed, cadence, distance and heart rate if those are supported by the trainer. Most trainers output power and speed, very few do heart rate (by proxying a heart rate monitor over your trainer), and I haven’t seen yet a trainer that transmits distance. Speed i

[2022-02-28 18:26] GCuser99 commented on #107
@dvmarinoff , thanks for that explanation - very useful. I think using the real time power stream as a source for virtualSpeed is the correct approach, and then resample for .FIT on a separate loop. That way you are getting the finest sample rate possible to reduce error.

Quite frankly I am having difficulty with why the choice of integrator is so important in this application. Firstly, I don't u

[2022-03-01 19:11] GCuser99 commented on #107
@dvmarinoff, at the risk of you tiring of me... I realized yesterday that the virtualSpeed calculation, which is based on the physics.stackexchange link above, and appears to be same as GC's version of simulated speed, uses an approximation that actually has an exact closed-form solution. As such, I refactored virtualSpeed into virtualSpeedAlt! I think this is a unique approach (ie. I haven't foun

[2022-03-01 23:27] dvmarinoff commented on #107
@GCuser99 Thanks for the help? I think the model is going very well, and I hope you can excuse my below average understanding of physics.

I am working on the suggested improvements and just pushed an update to the distance branch it's not very stable right now, but has the following:

- the switch between trainer and virtual speed feature,
  clicking the new button in the simulation settings sect

[2022-03-02 00:45] GCuser99 commented on #107
You are making awesome progress - thanks!

I'm curious - how do you know Zwift and RGT are using faster parameters?

In the past, I did some work on reverse-engineering Zwift's model using the ZwiftInsider data. They ran a bot through the game at different power, body weights, body heights, bikes, and wheels. I downloaded the actual Strava streams for those tests and did many model fits on the tim

[2022-03-02 01:20] GCuser99 commented on #107
Have you seen this?

http://www.trainingandracingwithapowermeter.com/2011/04/estimation-of-cda-from-anthropometric.html

Dr. Andrew Coggan mentions that Cd=.7 is a good number given the imprecision of study data.

So using round numbers so not to pretend there is a lot of precision:
[code]
That number would put you close to the middle of my Zwift table above...

[2022-03-03 13:54] mjunkmyjunk commented on #107
@GCuser99 what is the % contribution of KE towards the equation? From the Pic, it seems like it's really v small % (2.3w).

<img width="770" alt="Screenshot 2022-03-03 at 9 52 53 PM" src="https://user-images.githubusercontent.com/56195569/156578132-0a0e661b-8f6d-4945-978a-295d0dee769e.png">

[2022-03-03 14:29] GCuser99 commented on #107
Yes @mjunkmyjunk , in that particular example from Martin et al, it is small because acceleration is small. If acceleration is zero (steady state), then powerKE=0. If magnitude of acceleration is large, then magnitude of powerKE is large, and can be negative in case where acceleration is negative (such as coasting down a hill).

It's a very important component for a realistic simulation. For examp

[2022-03-05 12:47] dvmarinoff opened #108 "add svg icon system"
[code]
[code]

[2022-03-07 19:47] dvmarinoff commented on #107
I’ve been working on a graphing solution for distance intervals and I realised that there are different conceptual ways in which this feature can be implemented.

I see it as 3 main options:
- distance intervals inside an ERG workout,
- Course simulation as a collection of distance intervals in a workout,
- independent workout running (or not) while you ride a course simulation, (think Zwift + TR

[2022-03-07 21:42] GCuser99 commented on #107
Wow - very cool! In your K2C Cycle Tour example graphic above...

I assume the profile shown after the warmup is essentially the elevation profile versus distance on the x-axis?

After the ERG warmup, is the rest of the workout performed in Sim (or Slope) mode, based on distance intervals which seems like it would be described by your option 2?

Thanks!

[2022-03-08 06:10] PhatWheZ commented on #107
@dvmarinoff, that Distance model looks good! I would be happy to give it a go when its ready. I got a local 20km route that i would be keen to pop in and give a bash
I do think that Option 1 would be the ideal choice from my initial request as it gives an "estimate" of the real thing. However Option 3 would be amazing IMO if one could just pull the GPX file of choice and ride that (similar to RGT

[2022-03-08 07:56] dvmarinoff commented on #107
@GCuser99 The main difference between 1 and 2 is that 1 would have both time and distance on the x-axis which would require some sort of mapping so that both the ERG (power) and the distance (altitude) intervals are clearly visible at all possible screen sizes, and 2 would have only distance which would massively simplify things.

Option 3 would mean that there is always going to be some course ma

[2022-03-08 16:10] GCuser99 commented on #107
Thanks for the detailed explanation @dvmarinoff.

It sounds like Option 3 is different than the others in that it is an ERG-only workout (while covering a course) whereas Option 1 allows for both ERG and sim modes in same workout, and Option 2 is distance-based sim only. If I understand that correctly, then I would vote for Options 1 or 2 so that user can choose between the uniquely different expe

[2022-03-08 20:15] GCuser99 commented on #107
On the polyline simplification algorithm - I realized that I had already written code in VBA for simplifying (reducing) X-Y polygons - so I quickly ran a Strava distance-elevation profile through same algorithm (Douglas-Peucker) using an epsilon=1 meter. The data reduction using that epsilon was 27-to-1. Epsilon could be set to achieve more or less compression. Here is a graph of the original and

[2022-03-09 13:20] mjunkmyjunk commented on #107
Thanks for the link, this makes more sense reading this after reading the dougles-peucker algo

https://www.gpsvisualizer.com/tutorials/track_filters.html

I think in terms of altitude data, it's gonna be a hit and miss. Many factors at play there.
eg: https://ridewithgps.com/help/grade-and-elevation

Had used this https://www.potter.ca/Biking/smoother-beta/index.html prev for "magic road"

https:

[2022-03-09 14:36] GCuser99 commented on #107
Thanks for the links @mjunkmyjunk. Just to be clear - the intent of my post above was to offer ideas on data reduction in case memory is a problem. I would not use a simplification algorithm like Douglas-Peucker for the purpose of "conditioning" a noisy course track in prep for turning it into a workout. I agree that there are generally some problems to solve in terms of elevation accuracy (of whi

[2022-03-10 09:01] dvmarinoff commented on #107
#### GPX
My issue issue with .gpx is that the format is a text file that uses incredibly verbose xml syntax, which results in a very very long xml text file even for a simple course. .gpx is measured in MB and depending on the course profile, features, length, sampling rate, etc. it can reach 10s of MB, .FIT is binary and you can have a ton of data and still be in the kB range.

#### Elevation
I w

[2022-03-10 19:52] #75 closed

[2022-03-10 19:53] #50 closed

[2022-03-19 16:37] ph4r opened #109 "Timers way off"
[FluxDiag.zip](https://github.com/dvmarinoff/Flux/files/8309645/FluxDiag.zip)
I started this 90 minute workout from vo2fast just as I started the Tour of Watopia event in Zwift. I kept Zwift in the foreground for a long time, I was tunning 0.1.29 Flux in Chrome 99 on Windows 10 using BLE Connections. The first interval ended promptly at 5 minutes as it should, but the 20 minutes interval that foll

[2022-03-19 18:04] dvmarinoff commented on #109
Hi and thanks for trying out the app.

In general the browser tab wont’t be able to sit in the background for a long time, maybe 5-10 min depending on the OS. At some point it will get suspended and the whole app along with the timer will freeze at this point in time. There might be a workaround by using the esoteric WebWorkers, but they tend to be limited and complicated. Will do some research an

[2022-03-20 19:27] dvmarinoff commented on #109
@ph4r

Did some changes, by moving the Timer interval to a WebWorker, and my initial testing looks hopeful. The app was able to stay in background with RGT running in the foreground. How long is yet to be determined, but on MacOS the simulator script did a whole 1+ hour workout without issues and I had time to do only a small 25 min session today. Will need more time to confirm it works on Win10 a

[2022-03-20 19:54] #55 closed

[2022-03-21 00:25] ph4r commented on #109
Awesome, thanks for the update!

On Sun, Mar 20, 2022 at 3:27 PM Dimitar Marinov ***@***.***>
wrote:

[2022-03-25 17:05] dvmarinoff commented on #109
Thanks for the feedback!

I am trying to unpack this, please correct me if I got it wrong.
- you enter new FTP,
- start a workout,
- enter new FTP, at interval 5
- resume workout, but its in interval 7

I know I am a bit behind on writing the manuals and How-To's so lets start with all the buttons:

___1_____2____3_____4____5_____6
<img width="257" alt="Screenshot 2022-03-25 at 18 11 29" src="http

[2022-03-25 18:29] ph4r commented on #109
Your description identified another issue, at the end of my workout it
didn't go to free-ride, it stayed at the same ERG Power and the Interval
Time started counting up instead of counting down, and the last interval
was still highlighted in the workout view at the bottom.
It is entirely possible that the "didn't start workout" was triggered by
your use of the spacebar; however, Zwift App was in f

[2022-03-27 14:17] ph4r commented on #109
I did my 30 minute day-after-race recovery ride with the dev build today,
and the start and interval changing all worked as should; however, the end
is still not quite right. When the workout ended, the graphics stayed on
the last interval but the interval timer counted up, and ERG stayed
engaged, I tried shifting gears drastically to verify I hadn't just gotten
into the rythm.  I pressed Pause an

[2022-03-28 14:58] dvmarinoff commented on #109
Yes, that is exactly how it should work, the app will stay in the last active mode at the last known target, but since the structured intervals are over, the clock will count up to indicate open ended laps. Stop will reset the interval counter, mode and target to the beggining of the workout.

- interval time graphical indicator,

Not too hard to make, but in my opinion it only duplicates informat

[2022-03-28 15:55] ph4r commented on #109
Thanks for all this back-and-forth.

Please consider a way to jump out of ERG at the end of the workout (I guess
I'm just too used to Zwift or my Wahoo Elemnt Bolt which drop to Sim 0 at
the workout end) somewhere in the backlog (pressing stop even if not an
option or changed default behavior).

I like your Dock Mode, I'll play around with if I can get  Proof-of-Concept
working for this in Chromiu

[2022-03-29 22:48] ph4r commented on #109
No edits to your CSS... I made a bookmark as:
javascript:(function(){window.open('https://flux-devel.vercel.app/',
'','width=1920,height=150');})();

Windows 10, Chrome 100

I'll try this setup tomorrow for actual use, today I clicked between the
sessions.

[image: 2022-03-29.png]

On Mon, Mar 28, 2022 at 11:55 AM Wesley Stocker ***@***.***> wrote:

[2022-03-30 07:47] dvmarinoff commented on #109
Nice one, haven't thought about that!

Here is how it looks on MacOS (27'' monitor) with RGT:
![Screenshot 2022-03-30 at 9 51 27](https://user-images.githubusercontent.com/7523832/160778240-37ff64de-7850-4cbf-ad55-99c1ed067046.png)

BTW I can't see the attached images on github or in gmail, they appear as only as text: `[image: image.png]`.

[2022-03-30 18:04] dvmarinoff commented on #109
Added some changes to the developer version:

- responsive tooltips, font size is a little bigger and scales with the base font size of the workout list section for each media query
- tooltips now show up also for the list of workouts and courses,
- workout/course graphs are now fully calculated with javascript,
- workouts/course graph will respond to window resize event, which itself is debounced

[2022-03-30 19:25] ph4r commented on #109
Great, I'll check those out with my next workout!  I guess I should look at
your fit export Course soon then as well. I think the tooltips are still
about half the height they should be, maybe match the size for the timers
font.  You also have the problem I've seen on other websites, on big
intervals the tooltip is cut-off since you anchor it to the top end of the
interval, consider to anchor vert

[2022-03-31 00:32] GCuser99 commented on #107
@dvmarinoff I'm back to being able to perform some short tests. Looks like you have made much progress!

On the setup page of Flux-Dev I see the new SIMULATION toggle at the bottom:

If I toggle SIMULATION to "Power", will that use trainer-calculated speed? And for "Speed" will it use the Flux calculated speed?

How does the SIMULATION toggle interact with the selectable Speed buttons under CONTRO

[2022-03-31 09:18] dvmarinoff commented on #107
Hey, @GCuser99, welcome back, nice to read you are getting better now!

Meanwhile I merged the work at the distance branch on the development branch.

The Simulation toggle will switch the source for speed between speed reported from a connected device on one hand and speed calculated from power on the other. Setting it to value `speed` will read and record speed from a chosen connected device, se

[2022-03-31 19:06] GCuser99 commented on #107
Ok got it - nice graph! If I want to do a simple test where I ride in distance slope mode at 3% grade for the first 1000m, and 0% grade for the next 1000m, which of these syntaxes (if any) will get me there?
[code]
[code]
[code]
I rode with the first of those above and did not get the expected change of slopes after 1000m - it just stayed at 3% grade the whole way. I will play around some more and

[2022-03-31 23:58] GCuser99 commented on #107
@dvmarinoff, I ran the course fit file that you prepared for me through Flux twice - thanks for the help. The simulations went very well and graphics/display are excellent - this is an awesome app!

Looking at the results, I noticed that the .fit files included distance and altitude, but not speed. Is that intentional? I also ran some Erg tests (virtual speed calculated from power) and see that th

[2022-04-01 12:06] dvmarinoff commented on #107
Yes that's totally a bug. Thanks for catching it!

I've managed to reproduce the speed being recorded as 0 when the simulation toggle is set to speed. Will take a closer look later today.

[2022-04-01 12:46] GCuser99 commented on #107
Ok. I ran the course in both Sim modes (speed and power) and did not get a speed channel in the .fit output file for either of those modes.

Also, for the Erg runs I did, an output speed channel was produced for Sim=power, but not for Sim=speed.

In all of the runs above the speed displayed in the Flux app just fine. Thx!

[2022-04-01 14:14] dvmarinoff commented on #107
Pushed some quick fixes, recording should work correct now. There is still one issue with the toggle, it always displays in the view its' default value `power` on page reload despite the actual value in db. I am working to fix that.

BTW in my manual testing I am using a simulation script that broadcasts mock data as if a trainer is connected. It broadcasts the current power target or a default va

[2022-04-01 18:56] PhatWheZ commented on #107
I would be interested in running locally if you want to provide the steps.

[2022-04-01 21:44] GCuser99 commented on #107
@dvmarinoff, I ran some tests using your quick-fixed flux-devel version. Here are a few observations:

You must have made progress on the ble dropouts issue, because I noticed the controller dropping out a few times and then seconds later connecting back without me having to do anything! It was quick enough in recovery that it did not adversely affect my workouts. Nice!

It's not all that importan

[2022-04-04 12:36] dvmarinoff commented on #107
- power not going to zero,

some days ago I switched the source for the power view from real time power to the 1 second avg value for power `power1s`. I did noticed too that power gets stuck at something like 2 or 5 W when the User stops pedalling. Did a small fix now and added some tests.

I am currently on a road trip through the country and won't have access to trainers until sometime next week

[2022-04-04 13:42] dvmarinoff commented on #107
#### How to run Flux locally

Assuming git, node and npm are installed the following instructions can be executed in a console:

- `git clone https://github.com/dvmarinoff/Flux.git`
- `git checkout develop`
- goto the repo folder `cd Flux`
- and run `npm install light-server`
- then run`light-server -s ./src/ -p 1234`
- open browser at `http://localhost:1234/`

#### How to switch on the simulation

[2022-04-04 17:46] GCuser99 commented on #107
@dvmarinoff have a good road trip! No problem and no hurry.

It appears that you fixed the "power getting stuck after change to cadence=0" problem. Thanks!

I ran a workout today using course simulation with speed from "Power", and noticed the following from the browser log (attached):

- It does not appear (or feel like from pedaling) that Flux is sending slope changes (code 70) to my trainer.
-

[2022-04-04 19:02] dvmarinoff commented on #107
@GCuser99 did some checks with a Wahoo Kickr Snap simulator (it has the same custom WCPS).
It appears to work correctly with regular SIM mode, it gets the messages, but for course simulation it doesn't get the commands because it's not in SIM mode. I did all my testing on FTMS and completely forgot that WCPS needs an additional step to explicitly trigger SIM mode. It's a single line fix, will add

[2022-04-04 19:52] GCuser99 commented on #107
Also, until the acceleration issue is sorted out, can I suggest the following changes to physics.js? It will help me sleep better :-).
[code]

[2022-04-05 12:29] dvmarinoff opened #111 "Actor model with Web workers"
PROs:
- might be a better fit than custom events,
- and it's still native to the web platform,
- no framework/dependency rule compliant,
- it's just gonna need a micro lib,
- plus it will remove much of the load from the UI thread,
- and this app has a lot of parts that need to do continuous complex calculations,
   which have no place on the UI thread,

CONs:
- shotgun refactor

Resources:
[blog

[2022-04-05 12:30] dvmarinoff opened #112 "improve Dock mode"

[2022-04-05 12:31] dvmarinoff commented on #109
just opened a specific [issue](https://github.com/dvmarinoff/Flux/issues/112) for improving Dock mode, will close this one and move the discussion there

[2022-04-05 12:31] #109 closed

[2022-04-05 12:35] dvmarinoff commented on #107
pushed some changes:
- correct setting of SIM mode for WCPS when riding a course,
- the `pkefactor` change for physics.js,

[2022-04-06 11:31] dvmarinoff commented on #112
@ph4r, just letting you know I added a dock mode button in the latest developer version. It's at the settings page in place of the theme button (I stopped supporting multiple themes long time ago anyway). It will open a new browser window in dock mode, and will place it at the top. Couldn't place it at the bottom, because the bluetooth search popup is getting cut off, and I don't have much control

[2022-04-06 14:50] ph4r commented on #112
Ok, I'll take a look. I have two more scheduled [tempo] workouts this week
before 2 races this weekend!  I also noticed on my last workout that it
happily switched me to Slope 0 at the end, the only minor concern is that
the last interval of the workout remained highlighted, otherwise this was
great.

On Wed, Apr 6, 2022 at 10:42 AM Dimitar Marinov ***@***.***>
wrote:

[2022-04-06 14:52] dvmarinoff commented on #112
No worries, I haven't done much yet, just keeping you in the loop.

[2022-04-07 19:47] dvmarinoff opened #113 "fix course graph in dock mode"
In dock mode choosing a course results in a home page graph thats way too long and off screen.

[2022-04-08 09:18] TClin76 commented on #113
![image](https://user-images.githubusercontent.com/96434118/162405461-e4916427-736e-4e34-9280-b9c5e5858e36.png)
It works well for selecting a course in dock mode on my computer  😄

[2022-04-08 11:08] ph4r opened #114 "Trimmed Interval Power"
I did my Openers Warm-up today which has 3 short spin-ups which were intended to go to 1010W (as displayed in the Intervals Chart), but Flux only set the target to 800W? My FTP is 287W and my max is ~1450W. I ride a Neo2T (using BLE) which has a 2200W Max.  800W doesn't seem to be calculated from any of these values, so I assume it is a hard-coded limit presently, please greatly increase this limi

[2022-04-08 13:54] dvmarinoff commented on #114
TLDR: I extended the default fallback to be 4000W as specified in ANT+ FE-C.

The bluetooth FTMS protocol defines a Supported Power Range characteristic,
which gives min, max and increment values.

On the other hand ANT+ FE-C requires only that the power target be in the range 0-4000W in resolution of 0.25W.

The Tacx NEO uses a custom protocol FE-C over BLE which connects over BLE, but speak ANT+

[2022-04-08 14:18] dvmarinoff commented on #107
@GCuser99 I added bike weight to the weight param in the set SIM mode message. Using the ANT+ FE-C default 10kg.

Later I want to add a UI for configuring this number, but maybe this should come together with the other simulation parameters.

One major road block on weight is that the FTMS protocol doesn't specify a standard way for setting weight.
At one point it speak about a User service, but n

[2022-04-08 14:45] ph4r commented on #114
Yeah, the no flywheel is very cool but on rapid Power Changes, it still
takes planned effort to get ahead of the change still (I start my spin-up
2-3 seconds before the interval start).

I'd try your slope idea, maybe you could add an Openers Workout that
implements it, or I look forward to a future where Flux is integrated with
VO2Fast or another no/low-cost training plan generator and there coul

[2022-04-08 16:10] GCuser99 commented on #107
@dvmarinoff thanks for doing that.

As I said before, sending the correct (or any) weight to trainer is not that important to me, especially if it makes things complicated in a general sense...

For only right now, knowing what weight the trainer is using in Sim mode is important to me so that I can test Flux speed calcs against trainer speed calcs. What you have now is sufficient.

Thanks again!

[2022-04-11 09:12] dvmarinoff commented on #114
Attaching here edited version of the opener workout where I adding 14% slope targets for the 3 sprint intervals.

[30min-Opener-slope-mode.zwo.zip](https://github.com/dvmarinoff/Flux/files/8462675/30min-Opener-slope-mode.zwo.zip)

Basically this:
[code]

Becomes this:
[code]

Since Slope targets are a non-standart feature of .zwo, no existing editor supports it. Some time ago I asked a couple of t

[2022-04-11 09:12] #114 closed

[2022-04-11 09:15] dvmarinoff commented on #113
Yes, thanks it's fixed now. Although the strange gap in the bottom row (right corner) in your screenshot is not supposed to be there. I can't replicate this, can you share on what OS, browser and screen size was this taken?

[2022-04-12 08:05] TClin76 commented on #113
I ed it in my office, and here I am using Win11 with a screen resolution of 1920x1080.
Browser is Chrome.

[2022-04-12 08:22] TClin76 commented on #113
Are you talking about the gap as red circle?
![image](https://user-images.githubusercontent.com/96434118/162914739-47efec83-c23d-48b7-8c46-e3a763bb8704.png)
That is because I drag the window to make it larger and then drag it back to normal size.
After doing that, it comes out the gap.

[2022-04-14 10:04] TClin76 commented on #107
![image](https://user-images.githubusercontent.com/96434118/163362294-ec1b4b30-0a07-47f8-bf18-377e9b8a6b72.png)
Just an idea, is it possible to apply a low pass filter for calculating virtual speed? (Not sure if a moving average is good enough?)
It should look like a smooth curve, not a jagged one.

[2022-04-14 12:34] dvmarinoff commented on #107
@TClin76 Thanks for the report!

I'll look into it. Meanwhile can you share the type of ride you did, a course or a workout, what mode did you use, and the chosen value for Simulation (power or speed) in settings?

That's my ride from today:
- riding a course (Borrego Springs a copy of the one from RGT),
- Slope mode first 10 min, ERG for the rest,
- Simulation is set to Power,
- Power comes from

[2022-04-14 13:37] GCuser99 commented on #107
@TClin76 and @dvmarinoff: I have done many tests now using Erg and course modes - the output speed channel always looks smooth and correct, given the model being used.

BUT, if you are importing and viewing the resulting activity in another application, it's possible that speed is being recalculated from the distance and time channels. For example, Strava ignores the Flux speed channel and recalcu

[2022-04-14 14:10] GCuser99 commented on #107
Further to my point above:
![image](https://user-images.githubusercontent.com/26237126/163408388-bad19319-1d4e-4b76-8140-cdc2781f908b.png)

[2022-04-15 01:58] TClin76 commented on #107
@dvmarinoff
I was riding a workout with ERG mode, and speed simulation is setting to "Power".
The activity was uploading to Intervals.icu and Strava, figures attached below.
![image](https://user-images.githubusercontent.com/96434118/163505506-883f5f4a-ccc0-4288-bbc0-9eb048c499d2.png)
![image](https://user-images.githubusercontent.com/96434118/163505522-b437539a-0742-4aa6-891e-dd678675d23e.png)

I

[2022-04-15 02:18] TClin76 commented on #107
![image](https://user-images.githubusercontent.com/96434118/163506741-5bb7dac0-c312-47ae-b574-f0ff431994a9.png)
@dvmarinoff You are right, Strava use distance to recalculate the speed.
I calculate the speed from Distance/Time, and there are lots of glitches.
![image](https://user-images.githubusercontent.com/96434118/163507399-944ec8c7-77a9-4303-abdf-ab2ae987df64.png)

Sometimes the distance are j

[2022-04-15 13:20] dvmarinoff opened #115 "add Workout Editor"
Workout editor:

- [ ] User can create a workout, executable by Flux
- [ ] User can save the workout
- [ ] User can export the workout in .zwo format
- [ ] User can export the workout in .fit format
- [ ] User can use the custom slope attributes to set slope targets

- [ ] User can add a new row by pressing the add (+) button
- [ ] User can remove the last row by pressing the (-) button
- [ ] User

[2022-04-22 10:46] ph4r commented on #114
I finally got around to using this today, I can see that it ramped in power, but for these short intervals still didn't get high enough.  However, what I would like to report is what seems to be a strange side-effect of flipping out of Slope Mode.  It appears that your speed calculation does not revert to being at 0% as when I left the spin-ups my speed was like 4-5kph instead of 25kph+
[workout-2

[2022-04-26 13:42] dvmarinoff commented on #114
Thanks for the Report!

I'll see if there is convenient way to auto-correct this without braking ERG/Slope for courses.

[2022-04-26 18:59] cbourgeois commented on #115
Nice initiative, I played a bit with it, good job.

Overall I think that the best UI for workout editors out there is the one provided by intervals.icu  :
https://forum.intervals.icu/t/workout-builder/1163

Just typing :

is much faster than fiddling with each value in a table like the one above.
Displaying the graph is also a nice UI feedback, which allows in a glance to ensure the sanity of the

[2022-04-27 06:26] TClin76 commented on #115
Does Slope have higher priority than ERG If target power and target slope presented in the same interval?

[2022-04-27 06:34] dvmarinoff commented on #115
@TClin76 Yes, slope has higher priority. To disable it for the interval leave it blank or dash, but 0 would set the trainer to slope mode with 0 grade.

[2022-04-27 06:57] dvmarinoff commented on #115
@cbourgeois

The text declaration syntax is an interesting option, thanks for sharing! Do you know what is the general feedback on this approach from intervals.icu?

The app is fully static, which leaves the option to choose between the browsers' IndexedDB and LocalStorage. I've been thinking on the problem, but I can't make my mind on how to approach it. IndexedDB is frankly giving me nightmares,

[2022-04-28 09:46] dvmarinoff commented on #115
Created a poll discussion about the interval definition. You can vote [here](https://github.com/dvmarinoff/Flux/discussions/118)

[2022-04-28 22:00] cbourgeois commented on #115
Hey @dvmarinoff , the feedback around this looks positive, from what I can gather reading the thread I linked above.
I also personally found it very handy, quick and powerful, this is of course biased by the fact that this I am in the software industry.

I understand, this is indeed not simple, perhaps it would be nice to find a way to link to a bank of workouts hosted somewhere else that users co

[2022-04-29 11:57] dvmarinoff commented on #107
Hi, everyone!

I am looking for .fit files from outdoor and indoor activities recorded with Wahoo head units, or any other recorder thats not covered yet. The reason: some time ago I noticed peculiarities in the output files of RGT that resulted in an error when uploaded, I quickly fixed the code to cover their case, but didn't have time to dig in for others. I won't to make sure this feature is c

[2022-05-03 06:42] TClin76 commented on #107
It seems OK for loading .fit files exported from ROUVY.

[2022-05-03 15:49] dvmarinoff commented on #107
Thanks for the data! The Wahoo Element file is not opening in FitFileViewer and only partially reading in Flux. Will investigate.

[2022-05-05 02:16] TClin76 opened #119 "SteadyState with PowerLow /PowerHigh Attribute"
![image](https://user-images.githubusercontent.com/96434118/166854675-d4a97190-6fdf-4165-b763-70ef54a29f33.png)
Hi @dvmarinoff
I found that there are some zwo files downloaded from Whatsonzwift use PowerHigh and PowerLow within SteadyState Duration command.
FLUX does not recognize this kind of syntax but only accept PowerHigh and PowerLow within Warmup/Cooldown Duration.
In this case, FLUX shows p

[2022-05-05 06:13] dvmarinoff commented on #119
Having Low and High attributes on a SteadyState doesn't make any sense to me, but indeed it is working in this unexpected way:
![Screenshot 2022-05-05 at 9 10 28](https://user-images.githubusercontent.com/7523832/166870956-b2968fd2-f19f-4c92-a160-697388feadc6.png)

[2022-05-05 09:36] dvmarinoff commented on #119
Just pushed a fix for this case to the development version.

My guess is that this situation arises from visual editors transforming SteadyState intervals to Ramps and back.
So if PowerLow and PowerHigh are present on a SteadyState the App will take the higher value from the 2 and use it as Power.

In this example workout all SteadyState will result in intervals of 60s at 0.70% of FTP:
[code]

![S

[2022-05-05 09:37] dvmarinoff commented on #119
@TClin76 Thanks for reporting the issue!

[2022-05-05 10:17] TClin76 commented on #119
I modify the zwo file and let powerHigh and powerLow have different value, and then test it in Zwift.
The result will be the average of two values.

[2022-05-05 10:41] dvmarinoff commented on #119
True that, just checked too it in Zwift! Will update the code.

<img width="246" alt="Screenshot 2022-05-05 at 13 38 49" src="https://user-images.githubusercontent.com/7523832/166907411-f3741d08-7643-4943-ac86-80253c8b66a0.png">

<img width="975" alt="Screenshot 2022-05-05 at 13 38 03" src="https://user-images.githubusercontent.com/7523832/166907427-d0a9e39d-3de8-4083-ac05-998c8786feb0.png">

[2022-05-05 10:58] dvmarinoff commented on #119
Updated the code to take the avg value if powerLow and powerHigh differ:

![Screenshot 2022-05-05 at 13 57 01](https://user-images.githubusercontent.com/7523832/166909859-434f495f-2c42-4094-ae7f-45379f7f23f8.png)

[2022-05-06 08:13] dvmarinoff commented on #119
Merged into master, closing this one.

[2022-05-06 08:13] #119 closed

[2022-05-06 08:20] #113 closed

[2022-05-09 08:48] dvmarinoff commented on #107
@benjaminlin just pushed a new developer version that can correctly process the Wahoo Element file.

There were 2 issues that needed to be handled:
- developer fields,
- handling of data records without Altitude field

Flux didn't have code that reads developer fields and that broke the whole processing of the file. While missing Altitude data in the first 24 Data Records broke the graph. Both are

[2022-05-16 13:31] dvmarinoff opened #120 "Make iOS/tvOS app"
A native app is still the only way to go for acceptable level of Apple device support.

[2022-05-16 13:35] dvmarinoff opened #121 "Add backend App"
Server App + Database with ability to save workouts, courses, activities, and add Integration with intervals.icu, strava and others.

Already started some work with Rust and actix-web.

[2022-05-16 19:34] benjaminlin commented on #107
Here is another file I could not figure out why it is not loaded. This is from my friend that I wants to load the race course to have a pre-ride training. And I believe it is from Garmin
[myride.zip](https://github.com/dvmarinoff/Flux/files/8702898/myride.zip)
.

[2022-05-17 08:03] dvmarinoff commented on #107
@benjaminlin  The file has some records that are missing distance field. Just pushed a fix for this case to [develop](https://flux-devel.vercel.app/).

The course file although looks suboptimal in the flat-ish parts, they appear kinda over-simplified. Did some renders with Flux simplification on and off, in order to see if the issue is on Flux side. Without simplification the climbs get more point

[2022-05-17 23:53] benjaminlin commented on #107
That's cool, hmm I am not sure how Garmin records the data that I assumes the data point was taken every second with power/speed/location/HR etc., and should be universally record the same among devices and comply .fit format.

[2022-05-18 11:52] dvmarinoff commented on #107
@benjaminlin
The ‘graph not displaying at all’ error was on my side, so thanks for the report!
I also created alternative file for the same course with the Garmin Connect. I don’t know if it’s going to work better then the original, but here it is:
[thurston-county-cycling-course-garmin-connect.fit.zip](https://github.com/dvmarinoff/Flux/files/8715921/thurston-county-cycling-course-garmin-connect.

[2022-06-03 12:53] MHordecki commented on #120
Vanilla GPL licenses are incompatible with the App Store distribution model. You'd have to modify the license. See [this](https://opensource.stackexchange.com/a/8682) for example.

[2022-06-05 17:10] Zhwifty commented on #43
Veloverse is a good name,  suggests both a universe and also a versus, as in against rival apps.

Great app so far.

Would love to see some customisation of the interface, such as ability to remove fields,I crease/decrease field sizes. Like you can do with a bike computer.

[2022-06-06 08:26] dvmarinoff commented on #120
@MHordecki Welcome to the repo!

The plan is to start the iOS app from scratch and build it with Swift. It is not going to share any code with the web app and is going to be in a separate repo. I don’t have any recent experience with Apple App Store and their licensing so any advice on how to approach this is welcome? Maybe some sort of dual license?

[2022-06-06 08:59] dvmarinoff opened #122 "Customisation of the interface"
@Zhwifty, Thanks for the review and the name suggestion. I allowed my self to move your question to a separate issue here.

Customisable UI can be very complex to develop and maintain and right now I have all my time occupied with developing the backend API and the iOS app.

Which fields would you like to add/remove? I may start thinking on how to design this feature, but I don’t know if I’ll have

[2022-06-06 10:42] Zhwifty commented on #122
After looking again at the data fields, there probably isn't any unnecessary information.

But if I could assign more space to the graph and less to the text, as well as ability to reduce font size of the text boxes it would transform this app into something beyond anything else available.

I see great potential in this app to be used in landscape mode, as a high level cycling training system, whi

[2022-06-07 12:35] dvmarinoff commented on #122
@Zhwifty made some changes to the developer version [https://flux-devel.vercel.app/](https://flux-devel.vercel.app/) of the app. It has 4 rows and all of the fields. We can keep iterating on it if you have any suggestions or comments:

![Screenshot_20220607-150457_Chrome](https://user-images.githubusercontent.com/7523832/172379512-29cca214-8c4a-4d81-8fec-aee1f87bcbdb.jpg)

[2022-08-03 17:39] GCuser99 opened #126 "Elevation Gain in Workout Display?"
Hi @dvmarinoff,

I'm still using Flux's distance mode to simulate hill climbing - I love it! I noticed that the only important stat that is missing from the display is elevation gain. I also noticed that the "Target" stat is unused in distance mode, at least the way I'm running it. Wondering if it would make sense to use that space in the display to report elevation gain...?

Thanks!

[2022-08-04 07:41] dvmarinoff commented on #126
Hi @GCuser99,

Will have to think about it, the difficult part is figuring out where to put it in the current interface so it makes sense.
I’d like to keep the Target field, because some may want to switch between ERG and SIM mode while riding courses.
I’m thinking maybe somewhere inside the elevation graph, or making the Slope field switchable between Elevation gain and Slope.

[2022-08-04 15:55] GCuser99 commented on #126
Oh I forgot about the Slope/Erg mode switch...

I wonder if "Target" can auto-switch to "Elev Gain" when mode is Slope and then back again when mode is Erg? Or is that too messy to implement?

I'm using a fit file workout and really would like to see Slope at all times. If you were going to make something user-switchable I think it would make more sense to make the cumulative stats distance and el

[2022-08-10 14:32] dvmarinoff commented on #126
@GCuser99 just added current Elevation and Ascent to the top part of the course graph of the developer version.

Agree on that. It's just too many fields and too many use cases. I am thinking of adding ability for the User to configure some of the slots for the fields. But that's a bit complex to implement. It will need a UI for the configuration and then configurable slots, both of those function

[2022-08-10 19:59] GCuser99 commented on #126
Cool - thanks for that. If I do multiple laps (consecutive repeats of workout without stopping) will the Ascent value keep accumulating?

Anyway I understand the complexity that comes from accommodating every use case and appreciate you at least considering what makes sense, given your main development objectives. Thanks again!

[2022-08-12 15:10] afrandsen commented on #43
Just found your repo, very nice indeed. Thanks for the great work.

A danish suggestion from me: 'Træd' or 'Traed'. Translates to 'step' or 'push'.
Fx. 'Træd i pedalerne!' means 'Step on the pedals!'.

[2022-08-15 14:31] dvmarinoff commented on #43
@afrandsen Thanks!

tread.app or something, sounds good.

[2022-08-15 15:14] dvmarinoff commented on #126
@GCuser99 it should accumulate the ascent over lap. I did 2 loops of the short Borrego Springs Course to check this and it's working.

I am planning for this winter to make the Course graph a 3D thing and play with some very simple generative graphics. I am also thinking the Live Power graph is either going away or shrinking a lot in size. Maybe the Ascent and Current Elevation fields will have mo

[2022-08-16 08:56] TClin76 commented on #126
An idea, maybe put the Heart rate graph together with power graph? Something like what Zwift does.

[2022-09-21 16:25] tomaszlyszczyk opened #129 "Make PWA installable and working offline"
It would be great if the app allowed for offline use.
I can add it to the home screen, but it's not working offline.

[2022-09-22 07:52] dvmarinoff commented on #129
The issue here is that google made the whole installable app thing so complicated that pushing updates is just a painful experience that might get wrong at multiple levels.

I remember not long ago I read an article about them relaxing the conditions, but will need to look again in to it.
Will report again here later.

[2022-09-22 09:38] dvmarinoff opened #132 "Support for Moxy sensor"
### Discussed in https://github.com/dvmarinoff/Flux/discussions/131

<div type='discussions-op-text'>

<sup>Originally posted by **Hockje** September 21, 2022</sup>
Would it be possible to pull the bluetooth signal from a moxy monitor and have it display on the dashboard?

Does this data pull into the fit file? </div>

[2022-09-22 15:00] #41 closed

[2022-09-22 15:22] dvmarinoff opened #133 "add Guess Watt game"
Quote from @lawrencemaroun feature suggestion in discussions:

[2022-09-22 15:44] dvmarinoff commented on #31
@lawrencemaroun
Opened a new branch for this feature: https://github.com/dvmarinoff/Flux/tree/workout-generator
and new deployment: https://flux-generator.vercel.app/

[2022-10-11 08:06] ph4r commented on #109
Erg control stayed in tact or is that handled 100% in the trainer itself?

On Sat, Mar 19, 2022 at 2:04 PM Dimitar Marinov ***@***.***>
wrote:

[2022-10-11 08:31] ph4r commented on #109
[image: 2022-03-30 (3).png]
Today's workout looked great - glad it didn't lose timing on that 60 min
long interval!

On Wed, Mar 30, 2022 at 3:47 AM Dimitar Marinov ***@***.***>
wrote:

[2022-10-11 08:38] dvmarinoff commented on #109
Hey, @ph4r

glad it worked, did you had the app in the background for the whole duration?

BTW I can't see the attached image can you edit the comment with the Markdown syntax: `[file_name](url)`

[2022-10-14 06:02] wazc23 commented on #20
I have the assioma Uno Single sided Power meter, I tried your website for the first time today and it looks really good, I did notice that my cadence was fine, but my power was half the value.  I think this would be due to the single sided power meter where it doubles the value.  Is this something that I can enable on the flux side, or do I have to sort that out from the Power meter, I was dual re

[2022-10-14 11:07] MedTechCD commented on #20
@wazc23 Your Uno is normally connected to your Garmin by the ANT+ protocol. ANT+ handles all this automatically. The setting in the Favero app to double the value is **only for the BLE** channel. It should not cause you any problems when activated.

[2022-10-15 02:27] wazc23 commented on #20
Thanks @MedTechCD
That is great help, will give it a go
Cheers